


	.Categories{
		// font-family:"Open Sans";
		

	.content-categories{
		margin-left: 5.7vw;

		}

	nav{
		display: inline-block;
		background-color: #012438;
		margin-top: 1px;
	}
	

	/*------central section-----*/
	.CentralNav{
		height: 5vh;
		background-color: #002c47;
		box-shadow: 0px 3px 0px #fff inset;
	}

	.CentralNav  li{
		width: auto;
    	height: 4vh;
    	margin: 0;
    	list-style-type: none;
	}

	.CentralNav>ul>li>a:hover{
		border-bottom-color: #00b8d4;
		color: #dda20a;
	}


	.CentralNav>ul>li{
		float: left;
		position: relative;
		padding-right: 2vw;
	}

	.CentralNav>ul>li{
		display: inline-block;
		vertical-align: top;
	}
	.CentralNav>ul>li>a{
		position: relative;
		padding-top: 1.5vh;
		height: 5vh;
		width: auto;
	    text-decoration: none;
	    text-align: center;
	    background-color: #002c47;
	    border-bottom:3px solid transparent;
	    box-shadow: 0px 3px 0px #fff inset;
		color: white;
	    display: block;
	    font-size: 0.8vw;
    }

	section{
		padding: 0px;
		display: inline-block;
		vertical-align: top;
		height: auto;
		background-color: #e8edf1;
	
	}


// ========== left-side ==================	

	.block>p{
		color: #fff;
		padding: 30px 15px;
		font:small-caps;
	}

	aside{
		display: inline-block;
		vertical-align: top;
		height: 176vh;
		background-color: #002945;
		padding: 0px;
	}

 	aside .block .person{
		display: inline-block;
		vertical-align: top;
		background-image: url(../images/Categories/user.png);
		background-repeat: no-repeat;
		background-position: left;
		background-size: 2.9vw;
    	height: 9vh;
    	width: 3vw;
		
	}

	aside .block .comment{
		display: inline-block;
		vertical-align: top;
		background-image: url(../images/Categories/speech.png);
		background-repeat: no-repeat;
		background-position: left;
		background-size: 2.9vw;
    	height: 9vh;
    	width: 3vw;
		

	}

	aside .block .heart{
		display: inline-block;
		vertical-align: top;
		background-image: url(../images/Categories/love.png);
		background-repeat: no-repeat;
		background-position: left;
		background-size: 2.9vw;
    	height: 9vh;
    	width: 3vw;
		

	}

	.likeBlock{
		position: relative;
		padding-left: 5vw;
	}

	.likeBlock p{
		display:inline-block;
		vertical-align: top;
		font-size: 2vw;
		text-align: center top;
		color: #03b2d1;
		margin-left: 0.5vw;

	}

	.likeBlock div{
		display: inline-block;
		width: 9vw;
		padding-top: 2.9vh;
	}

	.provocation p>span{
		color: #03b2d1;
		padding-left: 0.5vw;
	}

	.provocation div:nth-child(1){
		background-image: url(/images/Categories/BusinessSmall.png);
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain;
		width: 98%;
		height: 6vh;
    	margin-top: 1vh;
	}

	.provocation div:nth-child(3){
		background-image: url(/images/Categories/prizeSmall.png);
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain;
		width: 98%;
		height: 6vh;
    	margin-top: 1vh;
	}

	.provocation div:nth-child(5){
		background-image: url(/images/Categories/charitySmall.png);
		background-position: right;
		background-size: contain;
		background-repeat: no-repeat;
		width: 98%;
		height: 6vh;
    	margin-top: 1vh;
	}

	.block{
		height: 462px;
		background-color: #012438;
		border-left: 2px solid #03a2c0;
		margin: -0.5px;
	}

	.block .fun p{
		color: #fff;
		margin: 0.5vh 0.2vw;
		padding-top: 1.5vh;
	}

	.provocation p{
		color: #fff;
		padding: 1vw 0.3vh;
	}

	.fun{
		background-image: url(/images/Categories/funSmall.png);
		background-position: right;
		background-size: contain;
		background-repeat: no-repeat;
		width: 98%;
		height: 6vh;
		margin-top: 0.7vh;
	}

	hr {
	    /* Set the hr color */
	    color:#03b2d1; /* old IE */
	    background-color: #03b2d1; /* Modern Browsers */
	    border: none;
	    width:15%;
	    margin-left: 20px;
	}



	
// ============slider carousel=================================

	.demo{ 
		display: block;
    	height: auto;
    	background-color: #fff;
    	margin-top: 1.5vh;
    	position: relative;
			.carousel-caption{
				left: 0;
				right:auto;
				top: 0;
				bottom: auto;
				h3{
					padding-left: 2vw;
					font-size: 1.5vw;
				}
		}
	}



	.demo>img{
		position: relative;
    	height: 540px;
	 }

	.demo h2{
	 	position: absolute;
	 	top: 15%;
	 	color: #fff;
	 	font-size: 40px;
	 	padding-left: 30px;
	 }

	.time{
		display: inline-block;
		vertical-align: top;
		padding-left: 4px;
			p{
				font-size: 2vh;
			}
	}

	.timetime{
		display: inline-block;
		vertical-align: top;
		margin-right: 1.5vw;
		padding-top: 30px;
	}

	.likeLike{
	 	display: inline-block;
	 	margin-right: 1.5vw;
	 }

	.info .person{
	 	display: inline-block;
		vertical-align: top;
		background-image: url(/images/timeline/user1.png);
		background-repeat: no-repeat;
		background-size:contain;
		background-position:center;
		height: 7vh;
		padding-top: 15px;
		padding-left: 1vw;
	 }

	.info .comment{
	 	display: inline-block;
		vertical-align: top;
		background-image: url(/images/timeline/speech1.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		height: 7vh;
		padding-top: 15px;
		padding-left: 1vw;
	 }

	.info .heart{
	 	display: inline-block;
		vertical-align: top;
		background-image: url(/images/timeline/love1.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		padding-top: 15px;
		height: 7vh;
		padding-left: 1vw;
	 }

	.likeLike>p{
		display: inline-block;
		vertical-align: top;
		padding-top: 15px;
		font-size: 2vh;
		color: #03b2d1;;
	}

	.likeLike .person{
		width: 2.5vw;
	}

 	.likeLike .comment{
		width: 2.5vw;
	}

	.likeLike .heart{
		width: 2.5vw;
	}



	.clock h6>p{
		color:#ffcf7d;
		font-size: 1.5vh;
    	line-height: 0vh;
	}
	.clock{
		display: inline-block;
		vertical-align: top;
		padding-top: 10px;
		h6{
			color:#03b2d1;
			font-size: 4vh;
		}
	}

	.timecheck{
		display: inline-block;
		vertical-align: top;
		padding-left: 4px;
	}

 	.timecheck img{
		width: 16px;
		height: 20px;
	}

	.timeclock{
		display: inline-block;
		vertical-align: top;
		padding-left: 1vw;
    	height: 3vh;
	}

	.timeclock img{
		width: 16px;
		height: 16px;
	}

	.info{
		position: relative;
		bottom: 1vh;
    	width: 100%;
    	padding-top: 4vh;
    	padding-left: 6vw;
	}
	.socialtwo{
		display: none;
	}
	.responsive-logo{
		display: none;
	}
	.user{
		display: block;
		max-width: 100%;
		height: auto;
		position: absolute;
		top: 66%;
		left: 3%;
		}
	.user-name{
		display: inline-block;
		vertical-align: top;
		color: #fff;
		font-size: 2em;
    	margin-top: -1vh;
    	margin-left: 2vw;
		}
	.user-pic{
		display:inline-block;	
		}
	.user .img-circle {
		border: 5px solid #fff;
		width: 6vw;
	
	}

	.carousel{
		width: 100%;

	}	
	.carousel-inner>.active{
		max-height: 42vh;

	}
	
	.carousel-control{
		height:70%;
	}

	.slider-container .container-fluid{
		padding-left: 0px;
		width: 100%;
	}


	.carousel-control.left{
		background-image: none;
	}

	.carousel-control.right{
		background-image: none;
	}

	.chat{
		height: 176vh;
		background-color: #fff;
		display: inline-block;
		vertical-align: top;
		padding: 0px;
	  
	    
	// .blue{
	// 	height: 46.7em;
	// 	background-color: #002c47;
	// 	margin-top: 14.5vh;
	// }

	// .grey{
	// 	height: 200vh;
	// 	background-color:#e8edf1;
	// 	margin-top: -1.3em;
	// }

	// .active-users{
	// 	height: 40em;
	// 	h3{
	// 		padding-top: 1em;
	// 		padding-left: 3em;
	// 		color: #00b8d4;
	// 	}
	// }
}

}

// @media screen and (max-width: 800px){
// 	.Categories{
// 		.CentralNav{
// 			display: none;
// 		}
// 		.demo{
// 			width: 100%;
	
// 		}
// 		aside {
// 			display: none !important;
// 		}

// 	}
// }


