.chat-container{
	width: 20%;
	height: 200vh;
	background-color:#fff ;
	display: inline-block;
	padding-left: 0px;
    padding-right: 0px;
    margin-left: 6vw;
	.blue{
		height: 46.7em;
		background-color: #002c47;
		margin-top: 14.5vh;
	}

	// .grey{
	// 	height: 200vh;
	// 	background-color:#e8edf1;
	// 	margin-top: -1.3em;
	// }

	.active-users{
		height: 40em;
		h3{
			padding-top: 1em;
			padding-left: 3em;
			color: #00b8d4;
		}
	}
}

@media screen and (max-width: 1920px){
		.chat-container{
			display: none;
			
		}
	}