.chat-container{
	width: 18vw;
	height: 200vh;
	background-color: #fff;
	display: inline-block;
	margin-left: 2.9vw;
	margin-top: 3.7em;

	.blue{
		height: 46.7em;
		background-color: #002c47;
		margin-top: 14.5vh;
	}

	.active-users{
		height: 40em;
		h3{
			margin-left: 30px;
			color: #00b8d4;
		}
	}
}