.chat-container{
	width: 18vw;
	height: 200vh;
	background-color: #fff;
	display: inline-block;
	margin-left: 2.9vw;
	margin-top: 3.7em;

	.blue{
		height: 46.7em;
		background-color: #002c47;
		margin-top: 125.5vh;
	}
}