.Contacts {
  height: 100%;
  background-color: #E8EDF0;
  //This margin is not neeeded there are some pixel values to be fixed in the side menu
  margin-left: -15px;

  .contacts-map {


    height: 50vh;
    // width: 100%;
  }
}
