

.header{
	position: relative;
	height: 73px;
	width: 100%;	
	background-color: #056686;
	font-family:"Open Sans";

body{
	font-size: 14px;
    line-height: 3;
    color: #fff;
}
p{
	margin-top: 19px;
	color: #000;
}


 .navbar-inverse .navbar-brand{
	width: 100px;
    height: 65px;
    padding-top: 2px;
    padding-left: 2px;;
}
 .chellenger{
    background-image: url(../images/Header/DareLogo.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 2% 30%;
    background-color: #17293a;
    border-color:#17293a; 
    color: #fff;
	font-size: 23px;
	letter-spacing: 1px;
	width: 430px;
  	height: 48px;
  	padding-left: 60px;
  	box-sizing: border-box;
  	margin-top: 11px;
	border:none;
}

 form span img{
	display: inline-block;
	width: 25px;
	height: 25px;
}
 form{
	display: inline-block;
	vertical-align: top;
	padding-left: 70px;
}



.navbar-header{
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.navbar-right {
	margin-right: 90px;
}
.navbar-brand{
	display: inline-block;
	margin: 5px 0px 5px 20px;
}
.navbar-inverse .navbar-collapse{
	background-color: #056686;
}

.navbar-inverse{
	background-color: #056686;
	border: none;
}
.navbar-inverse .navbar-toggle{
	border: none;
}



.navbar-nav {
	display: inline-block;
	vertical-align: top;
	height: 74px;
	font-family:"Open Sans";
	margin-top: 2px;
}
 
 
.navbar-inverse .navbar-nav>li>a:hover {
    color: orange;
}


 
.navbar-inverse .navbar-nav>li>a{
    position: relative;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20.5px;
    padding-top: 25px;
}

.img_user{
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: #fff;
	margin-top: 6px;
		img{
			border-radius: 50%;
			border: solid 1px #fff;
			width: 50px;
			padding-top: px;
		}
}

.useruser{
	display: inline-block;
	padding-left: 5px;
}

.person {
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/Header/user1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	height: 80px;
	padding-left: 35px;
}

 #menu-items{
 	display: none;
 }

.comment{
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/Header/speech1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	height: 80px;
	padding-left: 35px;
}

.heart{
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/Header/love1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	height: 80px;
	padding-left: 35px;
}


 .person p{
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	padding-left: 30px;
}

.heart p{
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	padding-left: 30px;
}

.comment p{
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	padding-left: 30px;
}

.search{
	display: inline-block;
	vertical-align: top;
	padding-right: 30px;
	padding-left: 20px;
	padding-top: 15px;
}

}