//Icons for the app
.app-icon-user {
  background: url("../images/icons/user.png");

}
.app-icon-user-active {
  background: url("../images/icons/user1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-fav {
  background: url("../images/icons/fav.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-fav-active {
  background: url("../images/icons/fav1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-friends {
  background: url("../images/icons/friends.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
  
}
.app-icon-friends-active {
  background: url("../images/icons/friends1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-event {
  background: url("../images/icons/event.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-event-active {
  background: url("../images/icons/event1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-chat {
  background: url("../images/icons/chat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-chat-active {
  background: url("../images/icons/chat1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-stat {
  background: url("../images/icons/stat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-stat-active {
  background: url("../images/icons/stat1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-speech {
  background: url("../images/icons/speech.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-speech-active {
  background: url("../images/icons/speech1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-out {
  background: url("../images/icons/out.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-out-active {
  background: url("../images/icons/out1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-settings {
  background: url("../images/icons/settings.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-settings-active {
  background: url("../images/icons/settings1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-history {
  background: url("../images/icons/history.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-history-active {
  background: url("../images/icons/history1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-love {
  background: url("../images/icons/love.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-love-active {
  background: url("../images/icons/love1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-notification {
  background: url("../images/icons/notification.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-notification-active {
  background: url("../images/icons/notification1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-activities {
  background: url("../images/icons/activities.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-activities-active {
  background: url("../images/icons/activities1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-categories {
  background: url("../images/icons/categories.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-categories-active {
  background: url("../images/icons/categories1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-left {
  background: url("../images/icons/left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-left-active {
  background: url("../images/icons/left1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-right {
  background: url("../images/icons/right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-right-active {
  background: url("../images/icons/right1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-time{
  background: url("../images/icons/time.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-time-active {
  background: url("../images/icons/time1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-mail-active {
  background: url("../images/icons/mail.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-phone-active {
  background: url("../images/icons/phone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-location-active {
  background: url("../images/icons/location-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-pencil-active {
  background: url("../images/icons/pencil.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-facebook {
  background: url("../images/icons/facebook.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-g+ {
  background: url("../images/icons/g+.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}
.app-icon-twitter {
  background: url("../images/icons/twitter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  display: inline-block;
}