@import "some-varibals-mixins";
@import "some-varibals-mixins-profiles";
/* CSS profile*/
.profile-statistics {
	line-height: 3;

	h1 {
		color: #fff;
		font-size: 1.2em;
	}

	.fa {
		@include size-fa;
		@include radius-fa;
		float: right;
	}

	aside {
		.sentdare {
			@include sentdare-button-style;
			@include sent-dare;
		}

		.cover {
			background-image: url("../images/6.jpg");
			@include cover-style;
		}
	}

	.menu {
		.one {
			@include mine-height;
			background-color: #fff;

			.social-fa {
				@include radius-fa;
				@include social;
			}

			.profile-info {
				margin-top: -6em;
				margin-left: 0.5vh;

				h1 {
					@include user-name;
				}

				.img-fa {
					@include radius-fa;
					@include user-img;
				}

				.fa {
					@include icones-fa;
				}
			}

			i {
				@include some-i-style;
				@include one-i-style;
			}

			.span-helpful {
				margin-right: 9vh;
				margin-top: -2vh;
			}

			span {
				@include span-style;

				i {
					@include one-span-i-style;
				}

				h1 {
					color: #03b2d1;
					font-size: 4vh;
				}
			}

			p {
				font-size: 9px;
			}

			.login {
				text-align: center;
			}

			.notifications {
				margin: 1%;

				.fa {
				@include notifications-fa;
				}

				span {
					float: left;
					margin-left: 2em;
					display: inline;
					width: 17%;

					i {
						margin-top: -3vh;
					}
				}
			}

			.soon {
					@include soon-formating;
			}

			.pictures {
				margin: 1%;

				.fa {
					@include notifications-fa;
					margin-left: 2.5vh;
					margin-right: 5.5vh;
				}

				span {
					margin-right: -3em;
					font-size: 4vh;
				}

				.row {
					margin-left: 1%;
					margin-right: 1%;

					aside {
						@include some-categories;
					}
				}
			}
		}

		.two {
			@include mine-height;
			background-color: #012438;

			nav {
				.fa {
					@include nav-fa;
				}

				ul {
					@include nav-ul;
				}

				li {
					float: left;
				}

				li a {
					@include nav-ul-a;
				}
			}
			h1 {
				color: #fff;
				font-size: 2em;
				text-align: center;
			}
			section {
				nav {
					.fa {
						width: 5vw;
						height: 4vw;
						margin-right: 6.5vh;
					}

					ul {
						background-color: transparent;
						list-style-type: none;
						margin: 1%;
						padding: 1%;
						overflow: hidden;
						width: 100%;
					}

					.image {
						background: url("../images/profiles/statistic.jpg");
						@include img-style;
					}
					.image1 {
						background: url("../images/profiles/statistics1.jpg");
						@include img-style;
					}
					.image2 {
						background: url("../images/profiles/statistics2.jpg");
						@include img-style;
					}

					.image3 {
						background: url("../images/profiles/statistics3.jpg");
						@include img-style;
					}

					.image4 {
						background: url("../images/profiles/statistics4.jpg");
						@include img-style;
					}

					li {
						width: 21%;
						height: 20vh;
						margin: 1%;
						padding: 2%;
						float: left;
						background-color: #fff;
					}

					li a {
						@include nav-ul-a;
						font-size: 8px;
						margin-top: 4em;
					}
				}

				section {
					height: 58vh;
					width: 90%;
					margin: 2%;
					padding: 1%;
					background: url("../images/profiles/statistic.jpg");
					@include img-style;
				}
			}
		}

		.three {
			@include mine-height;
			@include section-three-style;

			section {
				margin-top: 2vh;

				.row {
					margin-top: 2vh;
				}
			}

			.time {
				@include some-time;
			}

			.preview {
				@include some-preview;
			}

			.row {
				width: 80%;
				margin-left: 3%;
			}

			span {
				margin-left: 3%;
				font-size: 3vh;
				color: #03b2d1;
			}

			h1 {
				@include heder-style;
			}

			img {
				@include img-span;
			}
		}
	}
}
