
.register{
	width: 30vw;
	height: 17vh;
	background-color: #e8edf0;
	margin: 5em;
		.registration{
			width: 30vw;
			height: 5vh;
			background-color: #066886;
			p{
				color: #fff;
				font-size: 2vw;
				text-align: center;
				padding-left: 1.8vw;
			}
		}
}