
.side-menu{

		display: inline-block;
		width: 126px;
		background-color: #012438;
		height: 1779px;
		margin: auto;

		
	.size{
		display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		width: 122px;
		height: 122px;
		list-style-type: none;
	}
	
 	.fa-user { 
	  	background: url("../images/Side-menu/user.png") ;
	  	background-repeat: no-repeat;
	  	background-position: left; 
	 } 
 	.fa-fav { 
	  	background: url("../images/Side-menu/fav.png") ;
	  	background-repeat: no-repeat;
	  	background-position: left; 
	 } 
 	.fa-friends { 
	  	background: url("../images/Side-menu/friends.png") ;
	  	background-repeat: no-repeat;
	  	background-position: left; 
	} 
 	.fa-event { 
	  	background: url("../images/Side-menu/event.png") ;
	  	background-repeat: no-repeat;
	  	background-position: left; 
	} 
 	.fa-chat { 
	  	background: url("../images/Side-menu/chat.png") ;
	  	background-repeat: no-repeat;
	  	background-position: left; 
	} 
 	.fa-stat { 
	  	background: url("../images/Side-menu/stat.png") ;
	  	background-repeat: no-repeat;
	 	background-position: left; 
	} 
 	.fa-speech { 
	 	background: url("../images/Side-menu/speech.png") ;
	  	background-repeat: no-repeat;
	  	background-position: left; 
	} 
 	.fa-out { 
	  	background: url("../images/Side-menu/out.png") ;
	  	background-repeat: no-repeat;
	 	 background-position: left; 
	} 
 	.fa-settings { 
	  	background: url("../images/Side-menu/settings.png") ;
	  	background-repeat: no-repeat;
	  	background-position: left; 
	} 
 	.fa-history { 
	  	background: url("../images/Side-menu/history.png") ;
	 	background-repeat: no-repeat;
	  	background-position: left; 
	  
	  
 	} 
 	.fa-love { 
	 	background: url("../images/Side-menu/love.png") ;
	 	background-repeat: no-repeat;
	  	background-position: left; 
	} 
 	.fa-notification { 
	 	background: url("../images/Side-menu/notification.png") ;
	 	background-repeat: no-repeat;
	  	background-position: left; 
	} 
 	.fa-activities { 
	  	background: url("../images/Side-menu/activities.png") ;
	 	background-repeat: no-repeat;
	 	background-position: left; 
	} 
 	.fa-categories{ 
	  	background: url("../images/Side-menu/categories1.png") ;
	  	background-repeat: no-repeat;
	  	background-position: left; 
	}

	.fa-left { 
		background: url("../images/Side-menu/left.png") ;
		background-repeat: no-repeat;
		background-position: left; 
	
	} 
	.fa-left{ 
		background: url("../images/Side-menu/left1.png") ;
		background-repeat: no-repeat;
		background-position: left; 
	
	} 
	.fa-right { 
		background: url("../images/Side-menu/right.png") ;
		background-repeat: no-repeat;
		background-position: left; 
	
	} 
	.fa-right{ 
		background: url("../images/Side-menu/right1.png") ;
		background-repeat: no-repeat;
		background-position: left; 
	
	} 

}