
.side-menu{

		display: inline-block;
		width: 126px;
		background-color: #012438;
		height: 1779px;
		margin: auto;

		
	.size{
		display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		width: 75px;
		height: 62px;
		list-style-type: none;
		margin-top:50px;
	}
	
 	
 	
	// .fa-left { 
	// 	background: url("../images/Side-menu/left.png") ;
	// 	background-repeat: no-repeat;
	// 	background-position: left; 
	
	// } 
	// .fa-left{ 
	// 	background: url("../images/Side-menu/left1.png") ;
	// 	background-repeat: no-repeat;
	// 	background-position: left; 
	
	// } 
	// .fa-right { 
	// 	background: url("../images/Side-menu/right.png") ;
	// 	background-repeat: no-repeat;
	// 	background-position: left; 
	
	// } 
	// .fa-right{ 
	// 	background: url("../images/Side-menu/right1.png") ;
	// 	background-repeat: no-repeat;
	// 	background-position: left; 
	
	// } 

}