

.single-dare{
		.dare-pic{
			display: inline-block;
			vertical-align: top;
			width: 98.8vw;
			margin-left: -1.2vw;
		}
	
		.dare-pic img{
			display: inline-block;
			vertical-align: top;
			width: 72.5%;
			height: 430px;
			margin-left: -0.3vw;

		}
		.map-dare{
			display: inline-block;
			vertical-align: top;
			width: 20vw;
    		height: 39vh;
		}

		.content-dare{
			background-color: #e8edf0;
			width: 93.8vw;
			height: 180vh;
			margin-left: -0.8vw;
			}
		.accept{
			width: 70vw;
    		height: 18vh;
		}

		.accept-dare{
			float: right;
			display: inline-block;
			vertical-align: top;
			width: 16vw;
			height: 14vh;
			background-color:#012438;
			margin-right: 1.5vw;
    		margin-top: 2.5vh;
			
					p{
						color: #fff;
						font-size: 1vw;
						text-align: center;
						padding-top: 4vh;
					}
		}
		.align{
			display: inline-block;
			vertical-align: top;
			height: 17vh;
			width: 26vw;
			padding-left: 3vw;
		}

		.timeclock{
			display: inline-block;
			vertical-align: top;
			padding-left: 1vw;
    		height: 3vh;
			}

		.timeclock img{
			width: 16px;
			height: 16px;
			}

		.time{
			display: block;
			vertical-align: top;
			padding-left: 4px;
				p{
				font-size: 2vh;
				color:#ffcf7d;
			}

			
		}

	.likeLike{
	 	display:inline-block;
	 }

	.person{
	 	display: inline-block;
		vertical-align: top;
		background-image: url(../images/timeline/user1.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 3em;
		height: 7vh;
		padding-top: 15px;
		padding-left: 35px;
	 }

	.comment{
	 	display: inline-block;
		vertical-align: top;
		background-image: url(../images/timeline/speech1.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 3em;
		height: 7vh;
		padding-top: 15px;
		padding-left: 35px;
	 }

	.heart{
	 	display: inline-block;
		vertical-align: top;
		background-image: url(../images/timeline/love1.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 3em;
		padding-top: 15px;
		height: 7vh;
		padding-left: 35px;
	 }

	.likeLike>p{
		display: inline-block;
		vertical-align: top;
		padding-top: 15px;
		font-size: 2vh;
		color: #03b2d1;;
	}

	.likeLike .person{
		width: 2.5vw;
	}

 	.likeLike .comment{
		width: 2.5vw;
	}

	.likeLike .heart{
		width: 2.5vw;
	}



	.clock h6>p{
		color:#ffcf7d;
		font-size: 1.5vh;
    	line-height: 0vh;
	}
	.clock{
		display: inline-block;
		vertical-align: top;
		padding-left: 14vh;
		padding-top: 10px;
		h6{
			color:#03b2d1;
			font-size: 4vh;
		}
	}
	.chat{
		float: right;
		width: 24.3%;
		height: 180vh;
		background-color: #fff;
		display: inline-block;
		vertical-align: top;
		padding-left: 0px;
   	 	padding-right: 0px;
    	margin-left: 2.4vw;
    	margin-top: -18vh;
	.blue{
		height: 46.7em;
		background-color: #002c47;
		margin-top: 14.5vh;
	}

	// .grey{
	// 	height: 200vh;
	// 	background-color:#e8edf1;
	// 	margin-top: -1.3em;
	// }

	.active-users{
		height: 40em;
		h3{
			padding-top: 1em;
			padding-left: 3em;
			color: #00b8d4;
		}
	}
}
	

}

