

.single-dare{

		width: 100%;
		.dare-pic{
			display: inline-block;
			vertical-align: top;
			padding: 0px;
		}

		.container-fluid{
			margin-right: -0.8%;
			padding: 0px;
		}
	
		.dare-pic img{
			// width: 500px;
		

		}
		.map-dare{
			display: inline-block;
			vertical-align: top;
    		height: auto;

		}

		.content-dare{
			background-color: #e8edf0;
			height: 214vh;
			margin-left: 5.7vw;
			}
		
		.accept-dare{
			float: right;
			display: inline-block;
			vertical-align: top;
			height: 14vh;
			background-color:#012438;
			margin-right: 1.1vw;
    		margin-top: 3vh;
					h4{
						color: #fff;
						// font-size: 1vw;
						text-align: center;
						padding-top: 4vh;
					}
		}
		.align{
			display: inline-block;
    		vertical-align: top;
    		height: auto;
    		margin: 3vh 0vw 2vw 0vw;
		}

		.timeclock{
			display: inline-block;
			vertical-align: top;
			padding-left: 1vw;
    		height: 3vh;
			}

		

		.time{
			background-image:url(../images/single-dare/time.png);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: left;
			display: inline-block;
			vertical-align: top;
			padding-left: 2.5vw;
    		height: 4vh;
				h4{
				font-size: 3.3vh;
				color:#03b2d1;
			}

			
		}

		.likeLike{
		 	display:inline-block;
		 	width: 100%;
		 	line-height: 7vh;
		 	padding-top: 0.7vh;
		}

		.person{
		 	display: inline-block;
			vertical-align: top;
			background-image: url(../images/timeline/user1.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			height: 8vh;
			width: 2.5vw;
		}

		.comment{
		 	display: inline-block;
			vertical-align: top;
			background-image: url(../images/timeline/speech1.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			height: 8vh;
			width: 2.5vw;
		}

		.heart{
		 	display: inline-block;
			vertical-align: top;
			background-image: url(../images/timeline/love1.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			height: 8vh;
			width: 2.5vw;
		}

		.likeLike>h4{
			display: inline-block;
			vertical-align: top;
			font-size: 4.5vh;
			color: #03b2d1;
			margin-right: 2.2vw;
			padding-left: 4px;
		}

	
		.clock{
			display: inline-block;
		    vertical-align: top;
			h6{
				color:#03b2d1;
				font-size: 7.3vh;
				line-height: 7vh;
			}

			h3{
			color:#ffc000;
			margin-top: 4vh;
			text-align: left;	
			}
		}

		.approve{
			color:#03b2d1;
			font-size: 1vw;
			text-align: center;
			line-height: 5vh;
			width: 100%; 
		}

		.icon-arrow-left{
			display: inline-block;
		    vertical-align: center;
		    width: 3vw;
		    height: 23vh;
			background-image: url(/images/single-dare/white.png);
		  	background-size: contain;
		    background-repeat: no-repeat;
		    background-position: center;


		}

		.icon-arrow-right{
			display: inline-block;
		    vertical-align: center;
		    width: 3vw;
		    height: 23vh;
			background-image: url(/images/single-dare/white-right.png);
		  	background-size: contain;
		    background-repeat: no-repeat;
		    background-position: center;


		}


		.icon-arrow-left-blue{
			display: inline-block;
		    vertical-align: center;
		    width: 3vw;
		    height: 11vh;
			background-image: url(/images/single-dare/blue.png);
		  	background-size: contain;
		    background-repeat: no-repeat;
		    background-position: center;


		}

		.icon-arrow-right-blue{
			display: inline-block;
		    vertical-align: center;
		    width: 3vw;
		    height: 11vh;
			background-image: url(/images/single-dare/blue-right.png);
		  	background-size: contain;
		    background-repeat: no-repeat;
		    background-position: center;


		}

		
		.fix{
			height: 20vh;
			img{
				display: inline-block;
				max-width: 7vw;
    			max-height: 7vh;
			    margin-top: 16vh;
			    margin-left: -0.4vw;
			    border: 1px solid transparent;
			    border-radius: 50%;

			}

			p{	
				vertical-align: top;
			 	display: inline-block;
			    color: #fff;
			    position: absolute;
    			top: 76%;
		    	margin-left: 0.5vw;
			     }
	}

		.another-fix{
			height: 10vh;
			margin-left: 2vw;
						img{
				display: inline-block;
				width: 4vw;
			    height: 8vh;
			    margin-left: -0.4vw;
			    border: 1px solid transparent;
			    border-radius: 50%;
			}

			textarea{
				overflow: hidden;
			}

			h3{
				margin-top: 10px;
				color: #3c6884;
			}

			p{
				color: #57c1c5;
			}
		}



		.fixed{
			img{
				display: block;
			    border: 1px solid transparent;
			    border-radius: 50%;
			    float: right;
			    max-width: 5vw;

			}

		
			p{	
				font-size: 0.9vw;
			 	display:block;
			    color: #3c6884;
			    width: 18vw;
			    margin-left: -1vw;
		     }
	}
		.pic{
			// max-width: 8vw;
			margin-left: 2.6vw;
		}
		.adition{
			background-image: none;
		}

		.arrow-adition{
			width: auto;
		    min-width: 30px;
		    margin-bottom: 8vh;
		    }

		.social{
			height: 4vh;
			margin: 9vh 13.2vw 4vh;	
			}

		.soc-g{
			display: inline-block;
			vertical-align: top;
				img{
					
	    			height: 8vh;
				}
		}

		.soc-t{
			display: inline-block;
			vertical-align: top;
				img{
	    			height: 8.1vh;
				}
	}

		.soc-f{
			display: inline-block;
			vertical-align: top;
				img{
					
					height: 8.7vh;
				}
	}

		.send-challenge{
			// width: 13vw;
			height: 7vh;
			border: none;
	    	color: white;
	   	 	text-align: center;
	    	text-decoration: none;
	   		display: inline-block;
			background-color: #3c6884;
			text-align: center;
			line-height: 4vh;
			margin-right: 1vw;
				p{
					color: #fff;
					font-size: 1vw;
					margin: 0 0 4px;
			}
				h4{
					font-size: 1em;
				}
	}

		.accept-challenge{
			height: 7vh;
			border: none;
	    	color: white;
	   	 	text-align: center;
	    	text-decoration: none;
	   		display: inline-block;
			background-color: #012438;
			text-align: center;
			line-height: 4vh;
				p{
					color: #fff;
					font-size: 1.2vw;
					margin: 0 0 4px;
			}
		}

		
		.active-users{
			height: 40em;
			h3{
				padding-top: 1em;
				padding-left: 3em;
				color: #00b8d4;
			}
		}
	}


		.text{
			width: 100%;
		    height: auto;
		    text-align: center;
		    p{
		    	color:#177794; 
		    }
		}

		.bluebox{
			width: 13vw;
			height: 25vh;
			background-color: #177794;
			margin-left: 0.4vw;
			position: relative;
			}

		.chat{
			height: 166vh;
	    	background-color: #fff;
	 
		.blue{
			height: 46.7em;
			background-color: #002c47;
			margin-top: 14.5vh;
		}

		.img-responsive{
			border: 1px solid transparent;
    		border-radius: 50%;
		}

	// 	@media screen and (max-width: 800px){
	// 	.single-dare{
	// 		.align{
	// 			display: block;
	// 		}
		
	// 		.clock{
	// 			display: block;
	// 		}
	// 		.accept{
	// 			display: block;
	// 		}

	// 	}
	// }

}





