
.Timeline{
	
	.carousel{
		width: 100%;

	}	
	.carousel-inner>.active{
		max-height: 42vh;

	}
	
	.carousel-control{
		height:70%;
		

	}


	.carousel-control.left{
		background-image: none;
	}

	.carousel-control.right{
		background-image: none;
	}



	
 section{
		display: inline-block;
		vertical-align: top;
		height: 100%;
		width: 115%;
		min-height: 1778px;
		background-color: #e8edf1;
		margin-left: -29px;
		padding: 0px;
	}
	ul{
		margin-top: -11px;
    	margin-bottom: 11px;
	}

	.slider-container .container-fluid{
		padding-left: 0px;
		width: 100%;
	}

	

	.fa-user { 
	  	background: url("../images/timeline/user1.png") ;
	  	background-repeat: no-repeat;
	  	background-position: center; 
	}
	.fa-categories{ 
	  	background: url("../images/timeline/categories.png") ;
	  	background-repeat: no-repeat;
	  	background-position: center; 
	}

	.CentralNav{
		width: 148%;
		height: 52px;
		padding-left: 20px;
		background-color: #002c47;
		box-shadow: 0px 3px 0px #fff inset;
		margin-left: -30px;
	}

	.CentralNav  li{
		width: auto;
    	height: 10px;
    	margin: 0;
    	list-style-type: none;
	}

	.CentralNav>ul>li>a:hover{
		border-bottom-color: #00b8d4;
		color: #dda20a;
	}


	.CentralNav>ul>li{
		float: left;
		position: relative;
		padding-right: 4vw;
	}

	.CentralNav>ul>li{
		display: inline-block;
		vertical-align: top;
	}
	.CentralNav>ul>li>a{
		position: relative;
		padding-top: 17px;
		height: 5vh;
		width: auto;
	    text-decoration: none;
	    text-align: center;
	    background-color: #002c47;
	    border-bottom:3px solid transparent;
	    box-shadow: 0px 3px 0px #fff inset;
		color: white;
	    display: block;
	    font-size: 1.3em;
    }

	
	.demo{ 
		display: block;
		// width: 1409px;
    	height: auto;
    	width: 100%;
		background-color: #fff;
		margin-left: 18px;
		margin-top: 16px;
		position:relative;
			.carousel-caption{
			left: 0;
			right:auto;
			top: 0;
			bottom: auto;
		}
	}



	.demo>img{
		position: relative;
	  	width: 1409px;
    	height: 540px;
	 }

	.demo h2{
	 	position: absolute;
	 	top: 15%;
	 	color: #fff;
	 	font-size: 40px;
	 	padding-left: 30px;
	 }

	.time{
		display: inline-block;
		vertical-align: top;
		padding-left: 4px;
			p{
				font-size: 2vh;
			}
	}

	.timetime{
		display: inline-block;
		vertical-align: top;
		/*padding-left: 150px;*/
		padding-top: 30px;
		width: 26vw;
	}

	.likeLike{
	 	display: inline-block;
	 }

	.info .person{
	 	display: inline-block;
		vertical-align: top;
		background-image: url(../images/timeline/user1.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 3em;
		height: 7vh;
		padding-top: 15px;
		padding-left: 35px;
	 }

	.info .comment{
	 	display: inline-block;
		vertical-align: top;
		background-image: url(../images/timeline/speech1.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 3em;
		height: 7vh;
		padding-top: 15px;
		padding-left: 35px;
	 }

	.info .heart{
	 	display: inline-block;
		vertical-align: top;
		background-image: url(../images/timeline/love1.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 3em;
		padding-top: 15px;
		height: 7vh;
		padding-left: 35px;
	 }

	.likeLike>p{
		display: inline-block;
		vertical-align: top;
		padding-top: 15px;
		font-size: 2vh;
		color: #03b2d1;;
	}

	.likeLike .person{
		width: 2.5vw;
	}

 	.likeLike .comment{
		width: 2.5vw;
	}

	.likeLike .heart{
		width: 2.5vw;
	}



	.clock h6>p{
		color:#ffcf7d;
		font-size: 1.5vh;
    	line-height: 0vh;
	}
	.clock{
		display: inline-block;
		vertical-align: top;
		padding-left: 14vh;
		padding-top: 10px;
		h6{
			color:#03b2d1;
			font-size: 4vh;
		}
	}

	.timecheck{
		display: inline-block;
		vertical-align: top;
		padding-left: 4px;
	}

 	.timecheck img{
		width: 16px;
		height: 20px;
	}

	.timeclock{
		display: inline-block;
		vertical-align: top;
		padding-left: 1vw;
    	height: 3vh;
	}

	.timeclock img{
		width: 16px;
		height: 16px;
	}

	.info{
		position: relative;
		bottom: 1vh;
    	width: 90%;
    	padding-top: 4vh;
    	padding-left: 9vw;
	}
	.socialtwo{
		display: none;
	}
	.responsive-logo{
		display: none;
	}
	.user{
		position: absolute;
		top: 66%;
		left: 3%;
		}
	.user-name{
		display: inline-block;
		vertical-align: top;
		color: #fff;
		font-size: 2em;
    	margin-top: -1vh;
    	margin-left: 2vw;
		}
	.user-pic{
		display:inline-block;	
		}
	.user .img-circle {
		border-radius: 50%;
		border: 5px solid #fff;
		width: 6vw;
	
	}
}


@media screen and (max-width: 800px){
		.CentralNav{
			display: none;
		.demo{
			width: 90%;
	
		}
		
		}
	}