

<div class="Categories container">
		
		<aside>
			<div  class="block">
				<div class="fun">
				<p>
					Забавни предизвикателства
				</p>
				</div>
				<div class="likeBlock">
					<div>
						<div class="person">
						</div>
						<p>57</p>
					</div>
					<div>
						<div class="comment">
						</div>
						<p>34</p>
					</div>
					<div>	
						<div class="heart">
						</div>
						<p>234</p>
				</div>
			</div>
			</div>
			<div class="provocation">
				<div>
					<p>Бизнес предизвикателства<span>3456</span></p>
				</div>
						<hr>
				<div>	
					<p>Предизвикателства с награда<span>278</span></p>
				</div>	
						<hr>
				<div>	
					<p>Благотворителни предизвикателства<span>139</span></p>
				</div>
			</div>	
	    </aside>



	

		<section>
				<nav class="CentralNav">
						<ul>
							<li><a href="#">НАЙ-НОВИ</a></li>
							<li><a href="#">НАЙ-ДОБРЕ ПЛАТЕНИ</a></li>
							<li><a href="#">НАЙ-КОМЕНТИРАНИ</a></li>
							<li><a href="#">НАЙ-СПОДЕЛЯНИ</a></li>
							<li><a href="#">НАЙ-РАЗГЛЕЖДАНИ</a></li>
							<li><a href="#">НАЙ-ХАРЕСВАНИ</a></li>
						</ul>		
				</nav>


<div class="slider-container container-fluid col-sm-8 col-lg-8">
				
<div class="demo container col-sm-4 col-lg-4">
				<div id="mycarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
    <li data-target="#mycarousel" data-slide-to="1"></li>
    <li data-target="#mycarousel" data-slide-to="2"></li>
    <li data-target="#mycarousel" data-slide-to="3"></li>
    <li data-target="#mycarousel" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  
  <div class="carousel-inner carousel slide" data-ride="carousel">
    <div class="item active">
     <div class="carousel-caption">
        <h3>Прекарай с мен 10 дни в Рим</h3>
      </div>
      <img src="https://unsplash.it/2000/1250?image=397" data-color="lightblue" alt="First Image">
     
    </div>
    <div class="item">
      <img src="https://unsplash.it/2000/1250?image=689" data-color="firebrick" alt="Second Image">
      <div class="carousel-caption">
        <h3>Нахрани улична котка</h3>
      </div>
    </div>
    <div class="item">
      <img src="https://unsplash.it/2000/1250?image=675" data-color="violet" alt="Third Image">
      <div class="carousel-caption">
        <h3>Състезание за най-добро суши</h3>
      </div>
    </div>
    <div class="item">
      <img src="https://unsplash.it/2000/1250?image=658" data-color="lightgreen" alt="Fourth Image">
      <div class="carousel-caption">
        <h3>Прекарай с мен 10 дни в Рим</h3>
      </div>
    </div>
    <div class="item">
      <img src="https://unsplash.it/2000/1250?image=638" data-color="tomato" alt="Fifth Image">
      <div class="carousel-caption">
        <h3>Подари дреха на приятел</h3>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
 	<div class="user">
   	<div class="user-pic"><img class="img-circle" src="images/timeline/photo.jpg"/></div>
   			<div class="user-name">Милена Милчева</div>
	</div>
       	<div class="info">
       	<div class="timetime">
		<div class="timecheck">
			<img src="images/timeline/location-icon.png">
		</div>
		<div class="time">
			 <p>София</p>
		</div>
		<div class="timeclock">
			 <img src="images/timeline/time.png">
		</div>
		<div class="time">
			<p>Преди 4 часа и 30 минути</p>
		</div>
		</div>
		<div class="likeLike">
     	<div class="person">
		</div>
			<p>57</p>
		<div class="comment">
		</div>
			<p>34</p>	
		<div class="heart">
		</div>
			<p>234</p>
       	</div>
       	<div class="clock">
       		<H6>
       			<p>Оставащо време</p>
       						23:40Ч.
       		</H6>
       	</div>
     </div>
     				
  </div>



 	 <div class="demo container col-sm-4 col-lg-4">
		<div id="mycarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
    <li data-target="#mycarousel" data-slide-to="1"></li>
    <li data-target="#mycarousel" data-slide-to="2"></li>
    <li data-target="#mycarousel" data-slide-to="3"></li>
    <li data-target="#mycarousel" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  
  <div class="carousel-inner carousel slide" data-ride="carousel">
    <div class="item active">
      <img src="https://unsplash.it/2000/1250?image=397" data-color="lightblue" alt="First Image">
      <div class="carousel-caption">
        <h3>Нахрани улична котка</h3>
      </div>
    </div>
    <div class="item">
      <img src="https://unsplash.it/2000/1250?image=689" data-color="firebrick" alt="Second Image">
      <div class="carousel-caption">
        <h3>Състезание за най-добро суши</h3>
      </div>
    </div>
    <div class="item">
      <img src="https://unsplash.it/2000/1250?image=675" data-color="violet" alt="Third Image">
      <div class="carousel-caption">
        <h3>Подари дреха</h3>
      </div>
    </div>
    <div class="item">
      <img src="https://unsplash.it/2000/1250?image=658" data-color="lightgreen" alt="Fourth Image">
      <div class="carousel-caption">
        <h3>Състезание за най-добро суши</h3>
      </div>
    </div>
    <div class="item">
      <img src="https://unsplash.it/2000/1250?image=638" data-color="tomato" alt="Fifth Image">
      <div class="carousel-caption">
        <h3>Нахрани улична котка</h3>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
 <div class="user">
   	<div class="user-pic"><img class="img-circle" src="images/timeline/photo.jpg"/></div>
   			<div class="user-name">Милена Милчева</div>
		</div>
       	<div class="info">
       	<div class="timetime">
		<div class="timecheck">
			<img src="images/timeline/location-icon.png">
		</div>
		<div class="time">
			 <p>София</p>
		</div>
		<div class="timeclock">
			 <img src="images/timeline/time.png">
		</div>
		<div class="time">
			<p>Преди 4 часа и 30 минути</p>
		</div>
		</div>
		<div class="likeLike">
     	<div class="person">
		</div>
			<p>57</p>
		<div class="comment">
		</div>
			<p>34</p>	
		<div class="heart">
		</div>
			<p>234</p>
       	</div>
       	<div class="clock">
       		<H6>
       			<p>Оставащо време</p>
       						23:40Ч.
       		</H6>
       	</div>
     </div>
     				
  </div>



  <div class="demo container col-sm-4 col-lg-4">
				<div id="mycarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
    <li data-target="#mycarousel" data-slide-to="1"></li>
    <li data-target="#mycarousel" data-slide-to="2"></li>
    <li data-target="#mycarousel" data-slide-to="3"></li>
    <li data-target="#mycarousel" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  
  <div class="carousel-inner carousel slide" data-ride="carousel">
    <div class="item active">
      <img src="https://unsplash.it/2000/1250?image=397" data-color="lightblue" alt="First Image">
      <div class="carousel-caption">
        <h3>Състезание за най-добро суши</h3>
      </div>
    </div>
    <div class="item">
      <img src="https://unsplash.it/2000/1250?image=689" data-color="firebrick" alt="Second Image">
      <div class="carousel-caption">
        <h3>Нахрани улична котка</h3>
      </div>
    </div>
    <div class="item">
      <img src="https://unsplash.it/2000/1250?image=675" data-color="violet" alt="Third Image">
      <div class="carousel-caption">
        <h3>Подари дреха</h3>
      </div>
    </div>
    <div class="item">
      <img src="https://unsplash.it/2000/1250?image=658" data-color="lightgreen" alt="Fourth Image">
      <div class="carousel-caption">
        <h3>Състезание за най-добро суши</h3>
      </div>
    </div>
    <div class="item">
      <img src="https://unsplash.it/2000/1250?image=638" data-color="tomato" alt="Fifth Image">
      <div class="carousel-caption">
        <h3>Нахрани улична котка</h3>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
 <div class="user">
   	<div class="user-pic"><img class="img-circle" src="images/timeline/photo.jpg"/></div>
   			<div class="user-name">Милена Милчева</div>
		</div>
       	<div class="info">
       	<div class="timetime">
		<div class="timecheck">
			<img src="images/timeline/location-icon.png">
		</div>
		<div class="time">
			 <p>София</p>
		</div>
		<div class="timeclock">
			 <img src="images/timeline/time.png">
		</div>
		<div class="time">
			<p>Преди 4 часа и 30 минути</p>
		</div>
		</div>
		<div class="likeLike">
     	<div class="person">
		</div>
			<p>57</p>
		<div class="comment">
		</div>
			<p>34</p>	
		<div class="heart">
		</div>
			<p>234</p>
       	</div>
       	<div class="clock">
       		<H6>
       			<p>Оставащо време</p>
       						23:40Ч.
       		</H6>
       		</div>
     	</div>
     				
  	</div>
  </div>
</div>
</section>
