

<div class="Categories container">
		
		<aside>
			<div  class="block">
				<div class="fun">
				<p>
					Забавни предизвикателства
				</p>
				</div>
				<div class="likeBlock">
				<div>
				<div class="person">
				</div>
				<p>57</p>
				</div>
				<div>
				<div class="comment">
				</div>
				<p>34</p>
				</div>
				<div>	
				<div class="heart">
				</div>
				<p>234</p>
				</div>
			</div>
			</div>
			<div class="provocation">
				<div>
					<p>Бизнес предизвикателства<span>3456</span></p>
				</div>
						<hr>
				<div>	
					<p>Предизвикателства с награда<span>278</span></p>
				</div>	
						<hr>
				<div>	
					<p>Благотворителни предизвикателства<span>139</span></p>
				</div>
			</div>	
	    </aside>

		<section>
				<nav class="CentralNav">
						<ul>
							<li><a href="#">НАЙ-НОВИ</a></li>
							<li><a href="#">НАЙ-ДОБРЕ ПЛАТЕНИ</a></li>
							<li><a href="#">НАЙ-КОМЕНТИРАНИ</a></li>
							<li><a href="#">НАЙ-СПОДЕЛЯНИ</a></li>
							<li><a href="#">НАЙ-РАЗГЛЕЖДАНИ</a></li>
							<li><a href="#">НАЙ-ХАРЕСВАНИ</a></li>
						</ul>		
				</nav>
		</section>
		</div>

