<div class="Contacts">

  <div class="contact-info">
    <div class="address">
      <img src="../images/Side-menu/location-icon.png" alt="">
      <span>София, кв.Лозенец, ул. "Теодосий Търновски"6</span>
    </div>
    <div class="phone">
      <img src="../images/Side-menu/phone.png" alt="">
      <span>0888 88 88 88</span>
    </div>
  </div>
  <div class="contacts-map">
    <ng-map center="[42.6955369,23.2539071]"></ng-map>

  </div>

  <!-- <p>contacts ?</p> -->

  <div class="message-area">

    <h1>Попълни формата, за да се съвржеш с нас</h1>

    <input class="placeholder-info" type="text" placeholder="Вашите имена">
    <input class="placeholder-info" type="text" placeholder="Вашият email">
    <input class="placeholder-info" type="text" placeholder="Вашият телефон">

    <textarea class="placeholder-message" placeholder="Съобщение" name="name" rows="8" cols="40"></textarea>

    <button class="contact-send-button" type="button" name="button">ИЗПРАТИ</button>
  </div>
  <div class="social-area">
    <h3>Последвайте ни в социалните мрежи</h3>
    <div class="social-buttons">
      <div class="btn-facebook"></div>
      <div class="btn-twitter" href=""></div>
      <div class="btn-google" href=""></div>
    </div>

  </div>
</div>
