<div class="footer">
  <nav class="social-footer">
       			<ul>
       				<li><a href="#">Начало</a></li>
         			<li><a href="#">За нас</a></li>
         			<li><a href="#">Новини</a></li>
         			<li><a href="#">Общи условия</a></li>
         			<li><a href="#">FAQ</a></li>
         			<li><a href="#">Лична политика</a></li>
         			<li><a href="#">Как работи</a></li>
         			<li><a href="#">Контакти</a></li>
         			<li><i> © 2015 <span> Dare Or Not?</span> All rights reserved</i></li>
         			<li><a href="#"><img id="big" src="images/Footer/google_play_logo.png"/></a></li>
         			<li><a href="#"><img id="big" src="images/Footer/app-store-logo.png"></a></li>
        			<li><a href="#"><img src="images/Footer/paypal-logo.png"></a></li>
         			<li><a href="#"><img style="width:45px;height:30px;"src="images/Footer/visa_logo.png"/></a></li>
         			<li><a href="#"><img src="images/Footer/mastercard_logo.png"/></a></li>
         			<li><a href="#"><img src="images/Footer/easypay.png"/></a></li>
         			<li><a class="social-buttons" href="https://www.facebook.com/" target="_blank"><img style="width:30px;height:30px;" src="images/Footer/facebook.png"/></a></li>
         			<li><a class="social-buttons" href="https://www.twitter.com/" target="_blank"><img style="
         			width:30px;height:30px;" src="images/Footer/twitter.png"/></a></li>
         			<li><a class="social-buttons" href="https://www.google.com/" target="_blank"><img style="width:30px;height:30px;"src="images/Footer/g+.png"/></a></li>
         			<li><a class="social-buttons" href="https://www.google.com/" target="_blank"><img style="width:30px;height:30px;"src="images/Footer/wi-fi.png"/></a></li> 
      			</ul>
  </nav>
    		
<!-- 
 <div id="footer">
      <div class="container">
        <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
      </div>
</div> -->
</div>
