<div class="Friends">
  <div class="friends-side-menu">
    <input class="friends-search-input" type="text" placeholder="Търси...">

    <div class="friends-select">
      <span>Онлайн</span>
      <div class="friends-number-stats">300</div>
      <div class="border-bottom"></div>

    </div>
    <div class="friends-select">
      <span>Последно добавени</span>
      <div class="border-bottom"></div>
    </div>
    <div class="friends-select">
      <span>Най-активно</span>
      <div class="border-bottom"></div>
    </div>
    <div class="friends-select">
      <span>Покани за приятелство</span>
      <div class="friends-number-stats">12</div>
      <div class="border-bottom"></div>
    </div>

  </div>

  <div class="friends-list">
    <div class="friend-info">
      <div class="friend-online"></div>
      <img class="friend-avatar" src="../images/Header/photo.jpg" alt="">
      <div class="friend-info-holder">
        <div class="friend-name">Михаил Митев</div>
        <div class="friend-town"><img src="../images/Timeline/location-icon.png" alt="">София</div>
      </div>
      <button class="send-dare">ОТПРАВИ ПРЕДИЗВИКАТЕЛСТВО</button>
      <img class="send-message" src="../images/Header/speech1.png" alt="message">
    </div>

    <div class="friend-info">
      <div class="friend-online"></div>
      <img class="friend-avatar" src="../images/Header/photo.jpg" alt="">
      <div class="friend-info-holder">
        <div class="friend-name">Михаил Митев</div>
        <div class="friend-town"><img src="../images/Timeline/location-icon.png" alt="">София</div>
      </div>
      <button class="send-dare">ОТПРАВИ ПРЕДИЗВИКАТЕЛСТВО</button>
      <img class="send-message" src="../images/Header/speech1.png" alt="message">
    </div>
    <div class="friend-info">
      <div class="friend-online"></div>
      <img class="friend-avatar" src="../images/Header/photo.jpg" alt="">
      <div class="friend-info-holder">
        <div class="friend-name">Михаил Митев</div>
        <div class="friend-town"><img src="../images/Timeline/location-icon.png" alt="">София</div>
      </div>
      <button class="send-dare">ОТПРАВИ ПРЕДИЗВИКАТЕЛСТВО</button>
      <img class="send-message" src="../images/Header/speech1.png" alt="message">
    </div>

    <div class="friend-info">
      <div class="friend-online"></div>
      <img class="friend-avatar" src="../images/Header/photo.jpg" alt="">
      <div class="friend-info-holder">
        <div class="friend-name">Михаил Митев</div>
        <div class="friend-town"><img src="../images/Timeline/location-icon.png" alt="">София</div>
      </div>
      <button class="send-dare">ОТПРАВИ ПРЕДИЗВИКАТЕЛСТВО</button>
      <img class="send-message" src="../images/Header/speech1.png" alt="message">
    </div>
    <div class="friend-info">
      <div class="friend-online"></div>
      <img class="friend-avatar" src="../images/Header/photo.jpg" alt="">
      <div class="friend-info-holder">
        <div class="friend-name">Михаил Митев</div>
        <div class="friend-town"><img src="../images/Timeline/location-icon.png" alt="">София</div>
      </div>
      <button class="send-dare">ОТПРАВИ ПРЕДИЗВИКАТЕЛСТВО</button>
      <img class="send-message" src="../images/Header/speech1.png" alt="message">
    </div>
    <div class="friend-info">
      <div class="friend-online"></div>
      <img class="friend-avatar" src="../images/Header/photo.jpg" alt="">
      <div class="friend-info-holder">
        <div class="friend-name">Михаил Митев</div>
        <div class="friend-town"><img src="../images/Timeline/location-icon.png" alt="">София</div>
      </div>
      <button class="send-dare">ОТПРАВИ ПРЕДИЗВИКАТЕЛСТВО</button>
      <img class="send-message" src="../images/Header/speech1.png" alt="message">
    </div>
    <div class="friend-info">
      <div class="friend-online"></div>
      <img class="friend-avatar" src="../images/Header/photo.jpg" alt="">
      <div class="friend-info-holder">
        <div class="friend-name">Михаил Митев</div>
        <div class="friend-town"><img src="../images/Timeline/location-icon.png" alt="">София</div>
      </div>
      <button class="send-dare">ОТПРАВИ ПРЕДИЗВИКАТЕЛСТВО</button>
      <img class="send-message" src="../images/Header/speech1.png" alt="message">
    </div>
    <div class="friend-info">
      <div class="friend-online"></div>
      <img class="friend-avatar" src="../images/Header/photo.jpg" alt="">
      <div class="friend-info-holder">
        <div class="friend-name">Михаил Митев</div>
        <div class="friend-town"><img src="../images/Timeline/location-icon.png" alt="">София</div>
      </div>
      <button class="send-dare">ОТПРАВИ ПРЕДИЗВИКАТЕЛСТВО</button>
      <img class="send-message" src="../images/Header/speech1.png" alt="message">
    </div>
    <div class="friend-info">
      <div class="friend-online"></div>
      <img class="friend-avatar" src="../images/Header/photo.jpg" alt="">
      <div class="friend-info-holder">
        <div class="friend-name">Михаил Митев</div>
        <div class="friend-town"><img src="../images/Timeline/location-icon.png" alt="">София</div>
      </div>
      <button class="send-dare">ОТПРАВИ ПРЕДИЗВИКАТЕЛСТВО</button>
      <img class="send-message" src="../images/Header/speech1.png" alt="message">
    </div>

    <div class="friend-info">
      <div class="friend-online"></div>
      <img class="friend-avatar" src="../images/Header/photo.jpg" alt="">
      <div class="friend-info-holder">
        <div class="friend-name">Михаил Митев</div>
        <div class="friend-town"><img src="../images/Timeline/location-icon.png" alt="">София</div>
      </div>
      <button class="send-dare">ОТПРАВИ ПРЕДИЗВИКАТЕЛСТВО</button>
      <img class="send-message" src="../images/Header/speech1.png" alt="message">
    </div>

    <div class="friend-info">
      <div class="friend-online"></div>
      <img class="friend-avatar" src="../images/Header/photo.jpg" alt="">
      <div class="friend-info-holder">
        <div class="friend-name">Михаил Митев</div>
        <div class="friend-town"><img src="../images/Timeline/location-icon.png" alt="">София</div>
      </div>
      <button class="send-dare">ОТПРАВИ ПРЕДИЗВИКАТЕЛСТВО</button>
      <img class="send-message" src="../images/Header/speech1.png" alt="message">
    </div>

  </div>
</div>
