
<div class="navbar navbar-default" role="navigation">
 <a class="navbar-brand" href="#/"><img class="dare-logo"  src="../images/Header/DareLogo.png"></a>
    <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
       <!--  <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> -->
      </button>
      <!--  <div class="collapse navbar-collapse" id="js-navbar-collapse"> -->

      <nav>
        <ul>
          <li><a href="#">НАЧАЛО</a></li>
          <li><a href="#">КАТЕГОРИИ</a></li>
          <li><a href="#">ПРЕДИЗВИКАТЕЛСТВА</a></li>
        </ul>
      </nav>
     <!--  <ul class="nav navbar-nav">
        <li class="active"><a href="#/">Home</a></li>
        <li><a ng-href="#/about">About</a></li>
        <li><a ng-href="#/">Contact</a></li>
      </ul> -->
       <div class="useruser">
        <div class="img_user">
        <img src="../images/Header/photo.jpg">
        </div>
        <p style="float:right;color:#fff;padding-left:9px; font-size:22px;">Милена Милева</p>
      </div>
      <div class="like">
        <div class="person">
        </div>
        <p>57</p>
        <div class="comment">
        </div>
        <p>34</p> 
        <div class="heart">
        </div>
        <p>234</p>
      </div>
      <form>
         <input type="text" placeholder="Placeholder text" value="НОВО ПРЕДИЗВИКАТЕЛСТВО">
      </form>
      <div class="check">
        <div class="search">
          <img src="images/Header/Calendar.png">
        </div>
        <div class="search">
          <img src="images/Header/CheckIn.png">
        </div>
        <div class="search">
          <img src="images/Header/MagniFire.png">
        </div>
      </div>

</div>
</div>
    <!-- </div> -->


   
   