<div class="header">
  <nav>
    <img class="dare-logo" src="../images/Header/DareLogo.png">
    <span class="nav-links">
      <a class="nav-link" href="#">НАЧАЛО</a>
      <a class="nav-link" href="#">КАТЕГОРИИ</a>
      <a class="nav-link" href="#">ПРЕДИЗВИКАТЕЛСТВА</a>

    </span>

    <span>
      <img class="nav-avatar" src="../images/Header/photo.jpg" alt="User avatar">
      <span class="nav-username">Милена Милева</span>
    </span>
    <span class="nav-main-status">
      <span class="nav-status">
        <img  src="../images/Header/user1.png" alt="">
        <span class="count">57</span>
    </span>
    <span class="nav-status">
        <img src="../images/Header/speech1.png" alt="">
        <span class="count">34</span>
    </span>
    <span class="nav-status">
        <img  src="../images/Header/love1.png" alt="">
        <span class="count">234</span>
    </span>

    </span>

    <button class="nav-new-dare">
      <img class="nav-submit-logo" src="../images/Header/DareLogo.png" alt="">
      <div>НОВО ПРЕДИЗВИКАТЕЛСТВО</div>

    </button>
    <span class="nav-right-icons">
      <a href=""><img src="../images/Header/Calendar.png" alt=""></a>
      <a href=""><img src="../images/Header/CheckIn.png" alt=""></a>
      <a href=""><img src="../images/Header/MagniFire.png" alt=""></a>

    </span>

  </nav>

</div>
