<div class="messages">
    <!--online people / friends /  left aside -->
<aside class="one col-sm-3 col-lg-3">
  <div class="row">
                <img class="fa" src="../images/single-dare/ben.png" alt="" />
                <h1 class="">Thomas Bangalter</h1>
                <span class="time">3 мин</span></br>
                <span class="preview">I was wondering...</span>
    </div>
    <div class="row">
              <img class="fa" src="../images/single-dare/ben.png" alt="" />
                <h1 class="">Dog Woofson</h1>
              <span class="time">20 мин</span>
              <span class="preview">I've forgotten how it felt before</span>
    </div>
    <div class="row">
              <img class="fa" src="../images/single-dare/ben.png" alt="" />
              <h1 class="">Louis CK</h1>
              <i class="time">59 мин</i>
              <span class="preview">But we’re probably gonna need a new carpet.</span>
    </div>
  </aside>
<!--chat to some one -->
<section class="two col-sm-6 col-lg-6">
  <div class="row">
                <div class="row you">
                    <p class="col-sm-8 col-lg-8">Hello, can you hear me?</p>
                    <span class="col-sm-3 col-lg-3">
                        <img class="fa col-sm-3 col-lg-3" src="../images/single-dare/ben.png" alt="" />
                        5:38
                    </span>
                </div>
                <div class="row you">
                    <p class="col-sm-8 col-lg-8">I'm in California dreaming</p>
                    <span class="col-sm-3 col-lg-3">
                      <img class="fa col-sm-3 col-lg-3"  src="../images/single-dare/ben.png" alt="" />
                      5:38
                  </span>
                </div>
                <div class="row me">
                     <span class="col-sm-3 col-lg-3">
                       <img class="fa"  src="../images/single-dare/adam.jpg" alt="" />
                        5:39
                    </span>
                     <p class="col-sm-8 col-lg-8">  ... about who we used to be.</p>
                </div>
                <div class="row me">
                    <span class="col-sm-3 col-lg-3">
                       <img class="fa col-sm-3 col-lg-3"  src="../images/single-dare/adam.jpg" alt="" />
                       5:40
                    </span>
                    <p class="col-sm-8 col-lg-8">Are you serious?</p>
                </div>
                <div class="row you">
                  <p class="col-sm-8 col-lg-8">When we were younger and free...</p>
                  <span class="col-sm-3 col-lg-3">
                      <img class="fa col-sm-3 col-lg-3"  src="../images/single-dare/ben.png" alt="" />
                      5:40
                  </span>
                </div>
                <div class="row you">
                    <p class="col-sm-8 col-lg-8">I've forgotten how it felt before</p>
                    <span class="col-sm-3 col-lg-3">
                        <img class="fa col-sm-3 col-lg-3"  src="../images/single-dare/ben.png" alt="" />
                        5:41
                    </span>
                </div>
    </div>
</section>

<!--send dara to some one -->
  <aside class="three col-sm-3 col-lg-3">
      <div class="row"><img class="fa" src="../images/single-dare/ben.png"/></div>
      <div class="row"><h1>Ива Стефанова</h1></div>
      <div class="row"><i class="fa app-icon-location-active"></i> Бургас </div>
      <div clsss="row"><p>WWF's mission is to stop the degradation of our planet's natural environment,
        and build a future in which humans live in harmony with nature</p></div>
      <div class="row">email <span>some_mail@mail.bg</span></div>
      <div class="row">адрес <span>София 1000</span> </div>
      <div class="row">телефон <span>342 323 423</span></div>
      <div class="row"><input type="button"  value="предизвикай"  class="sentdare"/></div>
  </aside>
</div>
