<div class="messages"> 
<aside class="one col-sm-2 col-lg-2">
<article></article>
<article></article>
<article></article>
<article></article>
</aside>

<section class="two col-sm-8 col-lg-8">
<div class="fa" >
<img class="fa" src="../images/single-dare/ben.png"/>
</div>
<article></article>
<article></article>
<article></article>
</section>

<aside class="three col-sm-2 col-lg-2">
<div class="row"><img class="fa" src="../images/single-dare/ben.png"/></div>
<div class="row"><h1>Ива Стефанова</h1></div>
<div class="row"><i class="fa app-icon-location-active"></i> Бургас </div>
<div clsss="row"><p>WWF's mission is to stop the degradation of our planet's natural environment,
  and build a future in which humans live in harmony with nature</p></div>
  <div class="row">email <span>some_mail@mail.bg</span></div>
  <div class="row">адрес <span>София 1000</span> </div>
  <div class="row">телефон <span>342323423</span></div>
</aside>
</div>