<div class="news">
  <section class="coming-1 row">
    <img src="../images/6.jpg" align="top" class="" />
    <h1>Заглавие на новината</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <div class="login">
      <button class="fa ion-social-facebook-outline " ng-click="loginWithFacebook()" style="background-color: rgb(47, 123, 189);"></button>
      <button class="fa ion-social-twitter-outline" ng-click="loginWithtwitter()" style="background-color: rgb(0, 191, 243);"></button>
      <button class="fa ion-social-googleplus-outline " ng-click="loginWithGoogle()" style="background-color: rgb(217, 3, 74);"></button>
    </div>
    <div class="clock">
      <i class="fa app-icon-time-active"></i>
      <span>15 Октомври 2016</span>
      <i class="fa app-icon-time-active"></i>
      <span>23 : 44 ч.</span>
    </div>
  </section>
  <section class="coming-1 ow">
    <img src="../images/6.jpg" align="top" class="" />
    <h1>Заглавие на новината</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <div class="login">
      <button class="fa ion-social-facebook-outline " ng-click="loginWithFacebook()" style="background-color: rgb(47, 123, 189);"></button>
      <button class="fa ion-social-twitter-outline" ng-click="loginWithtwitter()" style="background-color: rgb(0, 191, 243);"></button>
      <button class="fa ion-social-googleplus-outline " ng-click="loginWithGoogle()" style="background-color: rgb(217, 3, 74);"></button>
    </div>
    <div class="clock">
      <i class="fa app-icon-time-active"></i>
      <span>15 Октомври 2016</span>
      <i class="fa app-icon-time-active"></i>
      <span>23 : 44 ч.</span>
    </div>
  </section>
  <section class="coming-1 row">
    <img src="../images/6.jpg" align="top" class="" />
    <h1>Заглавие на новината</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <div class="login">
      <button class="fa ion-social-facebook-outline " ng-click="loginWithFacebook()" style="background-color: rgb(47, 123, 189);"></button>
      <button class="fa ion-social-twitter-outline" ng-click="loginWithtwitter()" style="background-color: rgb(0, 191, 243);"></button>
      <button class="fa ion-social-googleplus-outline " ng-click="loginWithGoogle()" style="background-color: rgb(217, 3, 74);"></button>
    </div>
    <div class="clock">
      <i class="fa app-icon-time-active"></i>
      <span>15 Октомври 2016</span>
      <i class="fa app-icon-time-active"></i>
      <span>23 : 44 ч.</span>
    </div>
  </section>
</div>
