<!-- Profil-->
<div class="profile">
  <aside class="row">
    <div class="row cover"></div>
    <div class="row" style="margin-top: -12%;">
      <i class="fa app-icon-chat"></i>
      <input type="button" value="предизвикай" class="sentdare" />
    </div>
  </aside>

  <section class="row menu">
    <!--User notifications -->
    <aside class="one col-sm-3 col-lg-3">
      <div class="row profile-info">
        <img class="fa" src="../images/single-dare/ben.png" />
        <h1>Ива Стефанова</h1>
      </div>
      <div class="row"><i class="fa app-icon-location-active"></i><span> София</span> </div>
      <div class="row"><i class="fa app-icon-phone-active"></i> <span>342 323 423</span></div>
      <div class="row"><i class="fa app-icon-mail-active"></i> <span>some_mail@mail.bg</span></div>
      <div class="row login">
        <button class="fa ion-social-facebook-outline " ng-click="loginWithFacebook()" style="background-color: rgb(47, 123, 189);"></button>
        <button class="fa ion-social-twitter-outline" ng-click="loginWithtwitter()" style="background-color: rgb(0, 191, 243);"></button>
        <button class="fa ion-social-googleplus-outline " ng-click="loginWithGoogle()" style="background-color: rgb(217, 3, 74);"></button>
      </div>
      <div class="row notifications">
        <i class="fa app-icon-user"><span> 323</span></i>
        <i class="fa app-icon-chat"><span>342  </span></i>
        <i class="fa app-icon-love"><span>423</span></i>
      </div>
      <div clsss="row" style="text-align: center">
        <h1><span>Интереси</span></h1>
        <span>#some #interest #SoOn</span>
        <span>#some #interest #SoOn</span>
        <span>#some #interest #SoOn</span>
        <span>#some #interest #SoOn</span>
      </div>
      <div class="row pictures">
        <div class="row">
          <i class="fa app-icon-settings-active">
                  <span>Снимки</span>
              </i>
        </div>
        <div class="row">
          <div class="row">
            <aside class="one col-sm-3 col-lg-3"></aside>
            <aside class="one col-sm-3 col-lg-3"></aside>
            <aside class="one col-sm-3 col-lg-3"></aside>
          </div>
          <div class="row">
            <aside class="one col-sm-3 col-lg-3"></aside>
            <aside class="one col-sm-3 col-lg-3"></aside>
            <aside class="one col-sm-3 col-lg-3"></aside>
          </div>
          <div class="row">
            <aside class="one col-sm-3 col-lg-3"></aside>
            <aside class="one col-sm-3 col-lg-3"></aside>
            <aside class="one col-sm-3 col-lg-3"></aside>
          </div>
        </div>
      </div>
    </aside>
    <!--central sliders, user dears -->
    <section class="two col-sm-6 col-lg-6">
      <nav>
        <ul>
          <li class="fa app-icon-fav"><a href="#">Отправени </a></li>
          <li class="fa app-icon-fav"><a href="#">приети </a></li>
          <li class="fa app-icon-love"><a href="#">Любими</a></li>
          <li class="fa app-icon-categories"><a href="#">Категории</a></li>
          <li class="fa app-icon-stat"><a href="#">Статистика</a></li>
          <li class="fa app-icon-friends"><a href="#">Приятели</a></li>
        </ul>
      </nav>
      <main>
        <section class="row">

        </section>
      </main>
    </section>

    <!--friends-->
    <aside class="three col-sm-3 col-lg-3">
      <section>
        <h1><span>Най-активни потребители</span></h1>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Thomas Bangalter</h1>
          <span class="time">3 мин</span></br>
          <span class="preview">I was wondering...</span>
        </div>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Dog Woofson</h1>
          <span class="time">20 мин</span>
          <span class="preview">I've forgotten how it felt before</span>
        </div>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Louis CK</h1>
          <i class="time">59 мин</i>
          <span class="preview">But we’re probably gonna need a new carpet.</span>
        </div>
      </section>
      <section>
        <h1><span>Последно присъединили се </span></h1>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Thomas Bangalter</h1>
          <span class="time">3 мин</span></br>
          <span class="preview">I was wondering...</span>
        </div>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Dog Woofson</h1>
          <span class="time">20 мин</span>
          <span class="preview">I've forgotten how it felt before</span>
        </div>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Louis CK</h1>
          <i class="time">59 мин</i>
          <span class="preview">But we’re probably gonna need a new carpet.</span>
        </div>
      </section>
    </aside>
  </section>
</div>
