<!-- Profil-->
<div class="profile">
  <aside class="row">
    <div class="row cover"></div>
    <div class="row" style="margin-top: -12%;">
      <i class="fa app-icon-chat"></i>
      <input type="button" value="предизвикай" class="sentdare" />
    </div>
  </aside>

  <section class="row menu">
    <!--User notifications -->
    <aside class="one col-sm-3 col-lg-3">
      <div class="row profile-info">
        <img class="img-fa" src="../images/single-dare/ben.png" />
        <h1>Ива Стефанова</h1>
      </div>
      <div class="row"><span class="span-helpful"><i class="fa app-icon-location-active"></i><h1>София</h1></span></div>
      <div class="row"><i class="fa app-icon-phone-active"></i> <span>342 323 423</span></div>
      <div class="row"><i class="fa app-icon-mail-active"></i> <span>some_mail@mail.bg</span></div>
      <div class="row login">
        <button class="social-fa ion-social-facebook-outline " ng-click="loginWithFacebook()" style="background-color: rgb(47, 123, 189);"></button>
        <button class="social-fa ion-social-twitter-outline" ng-click="loginWithtwitter()" style="background-color: rgb(0, 191, 243);"></button>
        <button class="social-fa ion-social-googleplus-outline " ng-click="loginWithGoogle()" style="background-color: rgb(217, 3, 74);"></button>
      </div>
      <div class="row notifications">
        <span>323<i class="fa app-icon-user"></i></span>
        <span>342<i class="fa app-icon-chat"></i></span>
        <span>423<i class="fa app-icon-love"></i></span>
      </div>
      <div clsss="row">
        <h1><span class="soon">Интереси</span></h1>
        <span class="soon">#some #interest #SoOn</span>
        <span class="soon">#some #interest #SosOn</span>
        <span class="soon">#some #interest #SoOn</span>
        <span class="soon">#some #interest #SoOn</span>
      </div>
      <div class="row pictures">
        <div class="row">
          <i class="fa app-icon-settings-active">
                  <span>Снимки</span>
              </i>
        </div>
        <div class="row">
          <aside class="one col-sm-3 col-lg-3"></aside>
          <aside class="one col-sm-3 col-lg-3"></aside>
          <aside class="one col-sm-3 col-lg-3"></aside>
        </div>
        <div class="row">
          <aside class="one col-sm-3 col-lg-3"></aside>
          <aside class="one col-sm-3 col-lg-3"></aside>
          <aside class="one col-sm-3 col-lg-3"></aside>
        </div>
        <div class="row">
          <aside class="one col-sm-3 col-lg-3"></aside>
          <aside class="one col-sm-3 col-lg-3"></aside>
          <aside class="one col-sm-3 col-lg-3"></aside>
        </div>
      </div>
    </aside>
    <!--central sliders, user dears -->
    <section class="two col-sm-7 col-lg-7">
      <nav>
        <ul>
          <li class="fa app-icon-activities"><a href="#">Отправени </a></li>
          <li class="fa app-icon-fav"><a href="#">приети </a></li>
          <li class="fa app-icon-love"><a href="#">Любими</a></li>
          <li class="fa app-icon-categories"><a href="#">Категории</a></li>
          <li class="fa app-icon-stat"><a href="#">Статистика</a></li>
          <li class="fa app-icon-friends"><a href="#">Приятели</a></li>
        </ul>
      </nav>
      <!--we had to add some scroll  -->
      <main>
        <section class="row demo">
            <div id="mycarousel" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner carousel slide" data-ride="carousel">
                <div class="item active">
                  <div class="carousel-caption">
                    <h3>Прекарай с мен 10 дни в Рим</h3>
                  </div>
                  <img src="https://unsplash.it/2000/1250?image=397" data-color="lightblue" alt="First Image">
                </div>
                <div class="item">
                  <img src="https://unsplash.it/2000/1250?image=689" data-color="firebrick" alt="Second Image">
                  <div class="carousel-caption">
                    <h3>Нахрани улична котка</h3>
                  </div>
                </div>
                <div class="item">
                  <img src="https://unsplash.it/2000/1250?image=675" data-color="violet" alt="Third Image">
                  <div class="carousel-caption">
                    <h3>Състезание за най-добро суши</h3>
                  </div>
                </div>
                <div class="item">
                  <img src="https://unsplash.it/2000/1250?image=658" data-color="lightgreen" alt="Fourth Image">
                  <div class="carousel-caption">
                    <h3>Прекарай с мен 10 дни в Рим</h3>
                  </div>
                </div>
                <div class="item">
                  <img src="https://unsplash.it/2000/1250?image=638" data-color="tomato" alt="Fifth Image">
                  <div class="carousel-caption">
                    <h3>Подари дреха на приятел</h3>
                  </div>
                </div>
              </div>
              <!-- Controls -->
              <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="user">
              <div class="profile-info col-sm-2 col-lg-2">
                <img class="img-fa" src="../images/single-dare/ben.png" />
                <h1>Ива Стефанова</h1>
              </div>
              <div class="col-sm-2 col-lg-2">
                <span class="span-helpful">
                      <i class="fa app-icon-location-active"></i>
                      <span>София</span>
                  </span>
              </div>
              <!-- change that to col -->
              <div class="col-sm-2 col-lg-2">
                <i class="fa app-icon-location-active"></i>
                <span> София</span>
              </div>
              <div class="time col-sm-1 col-lg-1">
                <i class="fa app-icon-time-active"></i>
                <span>15 Октомври 2016</span>
              </div>
              <!-- change that to col -->
              <div class="notifications col-sm-4 col-lg-4">
                <span>323<i class="fa app-icon-user"></i></span>
                <span>342<i class="fa app-icon-chat"></i></span>
                <span>423<i class="fa app-icon-love"></i></span>
              </div>
              <div class="clock col-sm-1 col-lg-1">
                <i class="fa app-icon-time-active"></i>
                <span>23 : 44 ч.</span>
              </div>
            </div>

        </section>
      </main>
    </section>

    <!--friends-->
    <aside class="three col-sm-3 col-lg-3">
      <section>
        <h1><span>Най-активни потребители</span></h1>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Thomas Bangalter</h1>
          <span class="time">3 мин</span></br>
          <span class="preview">I was wondering...</span>
        </div>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Dog Woofson</h1>
          <span class="time">20 мин</span>
          <span class="preview">I've forgotten how it felt before</span>
        </div>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Louis CK</h1>
          <i class="time">59 мин</i>
          <span class="preview">But we’re probably gonna need a new carpet.</span>
        </div>
      </section>
      <section>
        <h1><span>Последно присъединили се </span></h1>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Thomas Bangalter</h1>
          <span class="time">3 мин</span></br>
          <span class="preview">I was wondering...</span>
        </div>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Dog Woofson</h1>
          <span class="time">20 мин</span>
          <span class="preview">I've forgotten how it felt before</span>
        </div>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Louis CK</h1>
          <i class="time">59 мин</i>
          <span class="preview">But we’re probably gonna need a new carpet.</span>
        </div>
      </section>
    </aside>
  </section>
</div>
