<!-- Profil-->
<div class="profile-statistic">
  <aside class=" coming-1 row col-sm-10 col-md-10 col-lg-10 no-padding">
    <div class="row cover no-padding"></div>
    <div class="row" style="margin-top: -12%;">
      <i class="fa app-icon-chat"></i>
      <input type="button" value="предизвикай" class="sentdare" />
    </div>
  </aside>

  <section class="menu container-fluid no-padding">
    <section class="col-sm-10 col-md-10 col-lg-10 no-padding">
      <!--User notifications -->
      <aside class="one col-sm-4 col-md-4 col-lg-4">
        <div class="row profile-info">
          <img class="img-fa" src="../images/single-dare/ben.png" />
          <h1>Ива Стефанова</h1>
        </div>
        <div class="row"><span class="span-helpful"><i class="fa app-icon-location-active"></i><h1>София</h1></span></div>
        <div class="row"><i class="fa app-icon-phone-active"></i> <span>342 323 423</span></div>
        <div class="row"><i class="fa app-icon-mail-active"></i> <span>some_mail@mail.bg</span></div>
        <div class="row login">
          <button class="social-fa ion-social-facebook-outline " ng-click="loginWithFacebook()" style="background-color: rgb(47, 123, 189);"></button>
          <button class="social-fa ion-social-twitter-outline" ng-click="loginWithtwitter()" style="background-color: rgb(0, 191, 243);"></button>
          <button class="social-fa ion-social-googleplus-outline " ng-click="loginWithGoogle()" style="background-color: rgb(217, 3, 74);"></button>
        </div>
        <div class="row notifications">
          <span>323<i class="fa app-icon-user"></i></span>
          <span>342<i class="fa app-icon-chat"></i></span>
          <span>423<i class="fa app-icon-love"></i></span>
        </div>
        <div clsss="row">
          <h1><span class="soon">Интереси</span></h1>
          <span class="soon">#some #interest #SoOn</span>
          <span class="soon">#some #interest #SosOn</span>
          <span class="soon">#some #interest #SoOn</span>
          <span class="soon">#some #interest #SoOn</span>
        </div>
        <div class="row pictures">
          <div class="row">
            <i class="fa app-icon-settings-active">
                      <span>Снимки</span>
                  </i>
          </div>
          <div class="row">
            <aside class="one col-sm-3 col-lg-3"></aside>
            <aside class="one col-sm-3 col-lg-3"></aside>
            <aside class="one col-sm-3 col-lg-3"></aside>
          </div>
          <div class="row">
            <aside class="one col-sm-3 col-lg-3"></aside>
            <aside class="one col-sm-3 col-lg-3"></aside>
            <aside class="one col-sm-3 col-lg-3"></aside>
          </div>
          <div class="row">
            <aside class="one col-sm-3 col-lg-3"></aside>
            <aside class="one col-sm-3 col-lg-3"></aside>
            <aside class="one col-sm-3 col-lg-3"></aside>
          </div>
        </div>
      </aside>
      <!--central sliders, user dears -->
      <section class="two col-sm-8 col-md-8 col-lg-8">
        <nav>
          <ul class="no-padding">
            <li class="fa app-icon-activities"><a href="#">Отправени </a></li>
            <li class="fa app-icon-fav"><a href="#">приети </a></li>
            <li class="fa app-icon-love"><a href="#">Любими</a></li>
            <li class="fa app-icon-categories"><a href="#">Категории</a></li>
            <li class="fa app-icon-stat"><a href="#">Статистика</a></li>
            <li class="fa app-icon-friends"><a href="#">Приятели</a></li>
          </ul>
        </nav>
        <!--we had to add some scrolling down  -->
        <main>
          <section class="row">

          </section>
        </main>
      </section>
    </section>
    <!--friends-->
    <aside class="three hidden-xs hidden-sm hidden-md col-lg-2 no-padding">
      <section>
        <h1><span>Най-активни потребители</span></h1>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Thomas Bangalter</h1>
          <span class="time">3 мин</span></br>
          <span class="preview">I was wondering...</span>
        </div>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Dog Woofson</h1>
          <span class="time">20 мин</span>
          <span class="preview">I've forgotten how it felt before</span>
        </div>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Louis CK</h1>
          <i class="time">59 мин</i>
          <span class="preview">But we’re probably gonna need a new carpet.</span>
        </div>
      </section>
      <section>
        <h1><span>Последно присъединили се </span></h1>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Thomas Bangalter</h1>
          <span class="time">3 мин</span></br>
          <span class="preview">I was wondering...</span>
        </div>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Dog Woofson</h1>
          <span class="time">20 мин</span>
          <span class="preview">I've forgotten how it felt before</span>
        </div>
        <div class="row">
          <img class="fa" src="../images/single-dare/ben.png" alt="" />
          <h1 class="">Louis CK</h1>
          <i class="time">59 мин</i>
          <span class="preview">But we’re probably gonna need a new carpet.</span>
        </div>
      </section>
    </aside>
  </section>
</div>
