


	  <ul>
        <!--  <li class="icon" onclick="myFunction()">
           <a class="active" href="#">
           	<span class="fa-stack fa-2x">
              <i class="fa fa-bars fa-stack-1x "></i>
            </span>
           </a>
          </li> -->
          <li class="size fa-user" >
			<a href="#home"> </a>				
          </li>
          <li class="size fa-activities" >
			<a href="#"> </a>
          </li>
          <li class="size fa-fav" >
           <a href="#"> </a>
          </li>
          <li class="size fa-speech">
           <a href="#"> </a>
          </li>
          <li class="size fa-notification" >
			<a href="#"> </a>
          </li>
          <li class="size fa-friends">
			<a href="#"> </a>
           </li>
          <li class="size fa-love">
			<a href="#"> </a>
           </li>
          <li class="size fa-event" >
			<a href="#"> </a>
           </li>
           <li class="size fa-categories">
			<a href="#">	</a>
           </li> 
          <li class="size fa-stat">
			<a href="#"> </a>
           </li> 
          <li class="size fa-history" >
			<a href="#">	</a>
           </li> 
          <li class="size fa-settings" >
			<a href="#"> </a>
           </li> 
           <li class="size fa-out">
			<a href="#">	</a>
          </li> 
        </ul>
      </nav>
		

