<div class="side-menu">

		<a href="#/timeline"><img src="../images/Side-menu/user.png"></a>
		<a href="#/single-dare"><img src="../images/Side-menu/activities.png"></a>
		<a href="#"><img src="../images/Side-menu/fav.png"></a>
		<a href="#"><img src="../images/Side-menu/chat.png"></a>
		<a href="#"><img src="../images/Side-menu/notification.png"></a>
		<a href="#"><img src="../images/Side-menu/friends.png"></a>
		<a href="#"><img src="../images/Side-menu/love.png"></a>
		<a href="#"><img src="../images/Side-menu/event.png"></a>
		<a href="#"><img src="../images/Side-menu/categories.png"></a>
		<a href="#"><img src="../images/Side-menu/stat.png"></a>
		<a href="#"><img src="../images/Side-menu/history.png"></a>
		<a href="#"><img src="../images/Side-menu/settings.png"></a>
		<a href="#"><img src="../images/Side-menu/out.png"></a>


</div>
