<nav>
	  <ul>
       
          <li class="size">
			       <a href="views/timeline.html"><img src="../images/Side-menu/user.png"></a>				
          </li>
           <li class="size">
              <a href="#"><img src="../images/Side-menu/activities.png"></a>
          </li> 
          <li class="size">
			       <a href="#"><img src="../images/Side-menu/fav.png"> </a>
          </li>
            <li class="size" >
              <a href="#"><img src="../images/Side-menu/chat.png"> </a>
          </li>
           <li class="size" >
              <a href="#"><img src="../images/Side-menu/notification.png"> </a>
           </li> 
          <li class="size">
              <a href="#"><img src="../images/Side-menu/friends.png"> </a>
          </li>
           <li class="size" >
              <a href="#"><img src="../images/Side-menu/love.png"></a>
           </li> 
          <li class="size">
              <a href="#"><img src="../images/Side-menu/event.png"> </a>
          </li>
          <li class="size">
			       <a href="views/timeline.html"><img src="../images/Side-menu/categories.png"> </a>
           </li>
           <li class="size">
              <a href="#"><img src="../images/Side-menu/stat.png"> </a>
           </li>
          <li class="size">
              <a href="#"><img src="../images/Side-menu/history.png"> </a>
           </li> 
           <li class="size">
			         <a href="#"><img src="../images/Side-menu/settings.png"></a>
           </li>
            <li class="size" >
              <a href="#"><img src="../images/Side-menu/out.png"> </a>
           </li> 
          </ul>
      </nav>


