

<div class="single-dare">
 <div class="content-dare">

<div class="dare-pic  col-xs-12 col-sm-12 col-md-12 col-lg-10">
	<img  src="../images/single-dare/photo17.jpg"  style="width: 100%;height: 39vh;">
	
 
  <div class="accept col-sm-12 col-md-12 col-lg-12">
       <div class="accept-dare col-xs-12 col-sm-8 col-md-4 col-lg-4">
          <h4>ПРИЕМИ <br> ПРЕДИЗВИКАТЕЛСТВОТО</h4>
        </div>
      <div class="align col-md-5 col-lg-5 hidden-xs hidden-sm">

      <div class="time hidden-xs hidden-sm">
        <h4>Преди 4 часа и 30 минути</h4>
      </div>
      <div class="likeLike">
        <div class="person">
      </div>
      <h4>57</h4>
      <div class="comment">
      </div>
        <h4>34</h4> 
      <div class="heart">
      </div>
        <h4>234</h4>
          </div>
          </div>
          <div class="clock no-padding col-sm-2 col-md-2 col-lg-2">
          <h3>Оставащо време</h3>
            <H6>
              23:40Ч.
            </H6>
          </div>
        
       
  </div>
   <div class="text col-sm-6 col-md-9 col-lg-11">
   <p class="medium-text">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
     <p class="medium-text">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>    
   </div>
   
      <p class="approve hidden-xs hidden-sm">ДОКАЗАТЕЛСТВА ОТ ПОТРЕБИТЕЛИТЕ</p>


  <div style="padding: 0px;">
  <div class="carousel slide fix hidden-xs hidden-sm col-md-12 col-lg-11 no-padding" id="Carousel" data-ride="carousel" data-interval="2000" data-pause="hover">
    <div class="carousel-inner" style="margin-left: 5.1vw;width: 95.5%;">
    <div class="item active">
      <div class="col-xs-2 bluebox"><img src="/images/single-dare/adam.jpg" class="img-responsive fix"><p>Иван Иванов</p></div>
    
    <div class="item">
      <div class="col-xs-2 bluebox"><img src="/images/single-dare/photo.jpg" class="img-responsive fix"><p>Свилен Митев</p></div>
    </div>
    <div class="item">
      <div class="col-xs-2 bluebox"><img src="/images/single-dare/ben.png" class="img-responsive fix"><p>Ангел Илиев</p></div>
    </div>
    <div class="item">
      <div class="col-xs-2 bluebox"><img src="/images/single-dare/photo.jpg" class="img-responsive fix"><p>Лили Петкова</p></div>
    </div>
    <div class="item">
      <div class="col-xs-2 bluebox"><img src="/images/single-dare/u1.jpg" class="img-responsive fix"><p>Ралица Николова</p></div>
    </div>

  
  </div>
   <a class="left carousel-control adition" href="myCarouselCarousel" data-slide="prev"><span class="icon-arrow-left" role="img"></span>
    <a class="right carousel-control adition" href="myCarouselCarousel" data-slide="next"><span class="icon-arrow-right" role="img"></span></a>

  </div>

  
</div>
</div>

  <div class="social col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="soc-f col-xs-2 col-sm-2 col-md-1"><a href="#"><img src="/images/single-dare/facebook_2.png"></a></div>
    <div class="soc-t col-xs-2 col-sm-2 col-md-1"><a href="#"><img src="/images/single-dare/twitter.png"></a></div>
    <div class="soc-g col-xs-2 col-sm-2 col-md-1"><a href="#"><img src="/images/single-dare/google-plus.png"></a></div>
    <button class="send-challenge col-xs-12 col-sm-12 col-md-2 col-lg-2"><h4>ИЗПРАТИ НА ПРИЯТЕЛ</h4></button>
    <button class="accept-challenge col-xs-12 col-sm-12 col-md-4 col-lg-4"><h4>ПРИЕМИ ПРЕДИЗВИКАТЕЛСТВОТО</h4></button>
  </div>
         <p class="approve hidden-xs hidden-sm">ПОТРЕБИТЕЛИ ПРИЕЛИ ПРЕДИЗВИКАТЕЛСТВОТО</p>


    <div>
  <div class="carousel slide fixed hidden-xs hidden-sm col-md-12 col-lg-12" id="Carousel" data-ride="carousel" data-interval="2000" data-pause="hover">
    <div class="carousel-inner" style="width: 100%;">
    <div class="item active">
      <div class="col-sm-1 pic"><img src="/images/single-dare/adam.jpg" class="img-responsive fixed"><p>Иван Иванов</p></div>
    
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/photo.jpg" class="img-responsive fixed"><p>Свилен Митев</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/ben.png" class="img-responsive fixed"><p>Ангел Илиев</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/photo.jpg" class="img-responsive fixed"><p>Лили Петкова</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/u1.jpg" class="img-responsive fixed"><p>Ралица Николова</p></div>
       <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/photo.jpg" class="img-responsive fixed"><p>Свилен Митев</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/ben.png" class="img-responsive fixed"><p>Ангел Илиев</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/photo.jpg" class="img-responsive fixed"><p>Лили Петкова</p></div>
    </div>
    
    </div>

  
  </div>
   <a class="left carousel-control adition arrow-adition" href="myCarouselCarousel" data-slide="prev"><span class="icon-arrow-left-blue" role="img"></span></a>
    <a class="right carousel-control adition arrow-adition" href="myCarouselCarousel" data-slide="next"><span class="icon-arrow-right-blue" role="img"></span></a>
  </div>

  
</div>
</div>
   <p class="approve hidden-xs hidden-sm">ПОТРЕБИТЕЛИ НАБЛЮДАВАЩИ ПРЕДИЗВИКАТЕЛСТВОТО</p>

    <div>
  <div class="carousel slide fixed hidden-xs hidden-sm col-md-12 col-lg-12" id="Carousel" data-ride="carousel" data-interval="2000" data-pause="hover">
    <div class="carousel-inner" style="width: 100%;">
    <div class="item active">
      <div class="col-sm-1 pic"><img src="/images/single-dare/adam.jpg" class="img-responsive fixed"><p>Иван Иванов</p></div>
    
    <div class="item">
      <div class="col-sm-1 col-md-1 col-lg-1 pic"><img src="/images/single-dare/photo.jpg" class="img-responsive fixed"><p>Свилен Митев</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 col-md-1 col-lg-1 pic"><img src="/images/single-dare/ben.png" class="img-responsive fixed"><p>Ангел Илиев</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 col-md-1 col-lg-1 pic"><img src="/images/single-dare/photo.jpg" class="img-responsive fixed"><p>Лили Петкова</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 col-md-1 col-lg-1 pic"><img src="/images/single-dare/u1.jpg" class="img-responsive fixed"><p>Ралица Николова</p></div>
       <div class="item">
      <div class="col-sm-1 col-md-1 col-lg-1 pic"><img src="/images/single-dare/photo.jpg" class="img-responsive fixed"><p>Свилен Митев</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 col-md-1 col-lg-1 pic"><img src="/images/single-dare/ben.png" class="img-responsive fixed"><p>Ангел Илиев</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 col-md-1 col-lg-1 pic"><img src="/images/single-dare/photo.jpg" class="img-responsive fixed"><p>Лили Петкова</p></div>
    </div>
    
    </div>

  
  </div>
   <a class="left carousel-control adition arrow-adition" href="myCarouselCarousel" data-slide="prev"><span class=".
   icon-arrow-left-blue" role="img"></span></a>
    <a class="right carousel-control adition arrow-adition" href="myCarouselCarousel" data-slide="next"><span class="icon-arrow-right-blue"></span></a>
  </div>

  
</div>

</div>
<div class="col-sm-9 col-md-9 col-lg-9 another-fix hidden-xs hidden-sm"><div class="col-sm-2 no-padding" style="max-width: 4vw;"><img src="/images/single-dare/photo.jpg" class="img-responsive"></div><textarea rows="2" cols="90">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
</textarea></div>

<div class="col-sm-9 another-fix hidden-xs hidden-sm "><div class="col-sm-2 no-padding" style="max-width: 4vw;"><img src="/images/single-dare/adam.jpg" class="img-responsive"></div><h3>
Свилен Митев</h3><p>Слуша ли новия ми трак?</p>
</div>

<div class="col-sm-9 another-fix hidden-xs hidden-sm"><div class="col-sm-2 no-padding" style="max-width: 4vw;"><img src="/images/single-dare/ben.png" class="img-responsive"></div><h3>
Ангел Илиев</h3><p>Довечера среща на бара?</p>
</div>


 
</div>

<div class="map-dare hidden-xs hidden-sm hidden-md col-lg-2" style="display: inline-block;vertical-align: top;padding: 0px;">
      <ng-map style="display: block;
    height: 39vh;" center="[42.6955369,23.2539071]"></ng-map>
     <div class="chat">
</div>
  </div>
</div>


</div>
