

<div class="single-dare">
 <div class="content-dare">

<div class="dare-pic col-sm-9 col-md-9 col-lg-9">
	<img src="../images/single-dare/photo17.jpg" style="width: 100%;height: 39vh;">
	
 
  <div class="accept col-sm-9 col-md-8 col-lg-9">
      
      <div class="align col-sm-2 col-lg-2">
      <div class="time">
        <p>Преди 4 часа и 30 минути</p>
      </div>
      <div class="likeLike">
        <div class="person">
      </div>
      <p>57</p>
      <div class="comment">
      </div>
        <p>34</p> 
      <div class="heart">
      </div>
        <p>234</p>
          </div>
          </div>
          <div class="clock">
            <H6>
              <p>Оставащо време</p>
                  23:40Ч.
            </H6>
          </div>
        
        <div class="accept-dare">
          <p>ПРИЕМИ ПРЕДИЗВИКАТЕЛСТВОТО</p>
        </div>
  </div>
   <div class="text col-sm-8 col-md-8 col-lg-8">
   <p class="medium-text">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>  
   </div>
          

    <div class="text col-sm-8 col-md-8 col-lg-8">
    <p class="medium-text">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>  
   </div>
         <p class="approve">ДОКАЗАТЕЛСТВА ОТ ПОТРЕБИТЕЛИТЕ</p>


  <div style="padding: 0px;">
  <div class="carousel slide fix col-sm-12 col-md-12 col-lg-12" id="Carousel" data-ride="carousel" data-interval="2000" data-pause="hover">
    <div class="carousel-inner" style="width: 102%;">
    <div class="item active">
      <div class="col-xs-2 bluebox"><img src="/images/single-dare/adam.jpg" class="img-responsive fix"><p>Иван Иванов</p></div>
    
    <div class="item">
      <div class="col-xs-2 bluebox"><img src="/images/single-dare/photo.jpg" class="img-responsive fix"><p>Свилен Митев</p></div>
    </div>
    <div class="item">
      <div class="col-xs-2 bluebox"><img src="/images/single-dare/ben.png" class="img-responsive fix"><p>Ангел Илиев</p></div>
    </div>
    <div class="item">
      <div class="col-xs-2 bluebox"><img src="/images/single-dare/photo.jpg" class="img-responsive fix"><p>Лили Петкова</p></div>
    </div>
    <div class="item">
      <div class="col-xs-2 bluebox"><img src="/images/single-dare/u1.jpg" class="img-responsive fix"><p>Ралица Николова</p></div>
    </div>

  
  </div>
   <a class="left carousel-control adition" href="myCarouselCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <a class="right carousel-control adition" href="myCarouselCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
  </div>

  
</div>
</div>

  <div class="social col-md-4 col-sm-4">
    <div class="soc-f col-md-1 col-sm-1"><a href="#"><img src="/images/single-dare/facebook_2.png"></a></div>
    <div class="soc-t col-md-1 col-sm-1"><a href="#"><img src="/images/single-dare/twitter.png"></a></div>
    <div class="soc-g col-md-1 col-sm-1"><a href="#"><img src="/images/single-dare/google-plus.png"></a></div>
    <button class="send-challenge"><p>ИЗПРАТИ НА ПРИЯТЕЛ</p></button>
    <button class="accept-challenge"><p>ПРИЕМИ ПРЕДИЗВИКАТЕЛСТВОТО</p></button>
  </div>
         <p class="approve">ПОТРЕБИТЕЛИ ПРИЕЛИ ПРЕДИЗВИКАТЕЛСТВОТО</p>


    <div>
  <div class="carousel slide fixed col-sm-12 col-md-12 col-lg-12" id="Carousel" data-ride="carousel" data-interval="2000" data-pause="hover">
    <div class="carousel-inner" style="width: 100%;margin-left: 1vw;">
    <div class="item active">
      <div class="col-sm-1 pic"><img src="/images/single-dare/adam.jpg" class="img-responsive fixed"><p>Иван Иванов</p></div>
    
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/photo.jpg" class="img-responsive fixed"><p>Свилен Митев</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/ben.png" class="img-responsive fixed"><p>Ангел Илиев</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/photo.jpg" class="img-responsive fixed"><p>Лили Петкова</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/u1.jpg" class="img-responsive fixed"><p>Ралица Николова</p></div>
       <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/photo.jpg" class="img-responsive fixed"><p>Свилен Митев</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/ben.png" class="img-responsive fixed"><p>Ангел Илиев</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/photo.jpg" class="img-responsive fixed"><p>Лили Петкова</p></div>
    </div>
    
    </div>

  
  </div>
   <a class="left carousel-control adition arrow-adition" href="myCarouselCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <a class="right carousel-control adition arrow-adition" href="myCarouselCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
  </div>

  
</div>
</div>
   <p class="approve">ПОТРЕБИТЕЛИ НАБЛЮДАВАЩИ ПРЕДИЗВИКАТЕЛСТВОТО</p>

    <div>
  <div class="carousel slide fixed col-sm-12 col-md-12 col-lg-12" id="Carousel" data-ride="carousel" data-interval="2000" data-pause="hover">
    <div class="carousel-inner" style="width: 100%;">
    <div class="item active">
      <div class="col-sm-1 pic"><img src="/images/single-dare/adam.jpg" class="img-responsive fixed"><p>Иван Иванов</p></div>
    
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/photo.jpg" class="img-responsive fixed"><p>Свилен Митев</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/ben.png" class="img-responsive fixed"><p>Ангел Илиев</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/photo.jpg" class="img-responsive fixed"><p>Лили Петкова</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/u1.jpg" class="img-responsive fixed"><p>Ралица Николова</p></div>
       <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/photo.jpg" class="img-responsive fixed"><p>Свилен Митев</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/ben.png" class="img-responsive fixed"><p>Ангел Илиев</p></div>
    </div>
    <div class="item">
      <div class="col-sm-1 pic"><img src="/images/single-dare/photo.jpg" class="img-responsive fixed"><p>Лили Петкова</p></div>
    </div>
    
    </div>

  
  </div>
   <a class="left carousel-control adition arrow-adition" href="myCarouselCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <a class="right carousel-control adition arrow-adition" href="myCarouselCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
  </div>

  
</div>

</div>
<div class="col-sm-8"><div class="col-sm-1 pic"><img src="/images/single-dare/photo.jpg" class="img-responsive"></div><textarea rows="2" cols="90">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
</textarea></div>


 
</div>

<div class="map-dare col-sm-3 col-md-3 col-lg-3" style="display: inline-block;vertical-align: top;padding: 0px;">
      <ng-map style="display: block;
    height: 39vh;" center="[42.6955369,23.2539071]"></ng-map>
     <div class="chat">
</div>
  </div>
</div>


</div>
