

<div class="single-dare container-fluid col-sm-8 col-lg-8">
<div class="dare-pic col-sm-12 col-lg-12">
	<img src="../images/single-dare/6.jpg">
	<div class="map-dare">
		  <ng-map style="display: block;width: 23vw;height: 46vh;" center="[42.6955369,23.2539071]"></ng-map>
	</div>
</div>

<div class="content-dare col-sm-8 col-lg-8">
	<div class="accept">
			<div class="timeclock">
			 	<img src="images/single-dare/time.png">
			</div>
			<div class="align">
			<div class="time">
				<p>Преди 4 часа и 30 минути</p>
			</div>
			<div class="likeLike">
     		<div class="person">
			</div>
			<p>57</p>
			<div class="comment">
			</div>
				<p>34</p>	
			<div class="heart">
			</div>
				<p>234</p>
       		</div>
       		</div>
       		<div class="clock">
       			<H6>
       				<p>Оставащо време</p>
       						23:40Ч.
       			</H6>
       		</div>
       	
       	<div class="accept-dare">
       		<p>ПРИЕМИ ПРЕДИЗВИКАТЕЛСТВОТО</p>
       	</div>
	</div>
	<div class="chat container col-sm-2 col-lg-2"></div>
</div>

</div>
