<div class="start-new-dare">
	<section class="one">
		<h1>Създай ново предизвикателство</h1>
		<form class="">
			<div class="dare row">
				<label class="item">
            	<i class="helpful app-icon-user-active"></i>
				<input type="text" placeholder="Трите имена" value="">
			</label>
				<label class="item">
          		 <i class="helpful app-icon-location-active"></i>
				<input type="text" placeholder="Град" value="">
			</label>
			</div>
			<div class="dare row">
				<label class="item">
				<input type="text" placeholder="Държава" value="">
			</label>
				<label class="item">
          		 <i class="helpful app-icon-mail-active"></i>
                <input type="text" placeholder="email" value="">
			</label>
			</div>
			<div class="dare row">
				<label style="width: 30%;">
          		 <i class="helpful app-icon-phone-active"></i>
				<input type="text" placeholder="телефон" value="">
			</label>

				<label style="margin-left: 3em;">
				<span style=" margin-right: 1em;"> Пол</span>
				<span>Жена</span>
				<input type="checkbox" name="gender" value="female" style="width: 10%;">
				<span>Мъж</span>
				<input type="checkbox" name="gender" value="male" style="width: 10%;">
				<span> Години</span>
				<input type="text" name="age" value="age" class="three-fa" style="float: right;">
			</label>
			</div>
			<div class="dare row">
				<label class="item-vh item">
        	<i class="helpful app-icon-pencil-active"></i>
			<input type="text" placeholder="Заглавие на Предизвикателство" value="Dare name here">
		</label>
				<label class="item-vh item" style="margin-top: -2vh;">
			<i class="helpful app-icon-pencil-active"></i>
			<textarea placeholder="Текст описващ предизвикателството" rows="7" cols="20" value="Some Description here" style="width: 100%; height: 132px;"></textarea>
		</label>
			</div>

			<h3>Избери Категория</h3>
			<div class="challeng row">
				<img class="cal" src="../images/Categories/funBig.png" style="background-color:#029609;" />
				<img class="cal" src="../images/Categories/BusinessBig.png" style="background-color:#e09740;" />
				<img class="cal" src="../images/Categories/prizeBig.png" style="background-color:#be2524;" />
				<img class="cal" src="../images/Categories/charityBig.png" style="background-color:#1d3694;" />
			</div>
			<div class="row">
				<div class="contin col-sm-2 col-lg-2" style="margin: 2.5%;">Продължителност</div>
				<div class="contin col-sm-4 col-lg-4">
					<label class="item" style="width:100%;">
					<span class="input-label">Ot:</span>
					<input type="number"style="width:40%;">
					<input type="number" style="width:40%;">
				</label>
				</div>
				<div class="contin col-sm-4 col-lg-4" style="left: -3em;">
					<label class="item" style="width:100%;">
					<span class="input-label">До:</span>
					<input type="number"style="width:40%;">
					<input type="number" style="width:40%;">
				</label>
				</div>
			</div>
			<div class="row">
				<div class="contin col-sm-1 col-lg-1" style="margin: 2.5%;">Заплащане</div>
				<div class="contin col-sm-4 col-lg-4">
					<label class="item" style="width:100%;">
					<span class="">От:</span>
					<input type="number"style="width:70%;">
				</label>
				</div>
				<div class="contin col-sm-4 col-lg-4">
					<label class="item" style="width:100%; margin-left: -3em;">
					<span class="">До:</span>
					<input type="number"style="width:70%;">
				</label>
				</div>
				<div class="contin col-sm-1 col-lg-1">
					<label class="item" style="width:100%; margin-left: -3em;">
				<input type= "button" class="fileContainer" type="file"/>
					<i class="helpful"></i>
				</input>
            </label>
				</div>
			</div>
			<div class="dare row">
				<label class="item-vh item">
        	<i class="helpful app-icon-pencil-active"></i>
			<input type="text" placeholder="Заглавие на Предизвикателство" value="Dare name here">
		</label>
				<label class="item-vh item" style="margin-top: -1vh;">
        	<i class="helpful app-icon-pencil-active"></i>
			<input type="text" placeholder="Заглавие на Предизвикателство" value="Dare name here">
		</label>
			</div>
			<div class="dare row">
				<button class="button button-block button-balanced" type="submit">Публично</button>
				<button class="button button-block button-balanced" type="submit">Скрито</button>
			</div>
			<h3 style="margin-top:1em; text-transform: uppercase;">Сподели в социалните мрежи:</h3>
			<div class="dare responsive row">
				<div class="col">
					<button class="circle bluecolor app-icon-twitter"></button>
				</div>
				<div class="col">
					<button class="circle bluecolor app-icon-twitter"></button>
				</div>
				<div class="col">
					<button class="circle bluecolor app-icon-twitter"></button>
				</div>
			</div>
			<div class="dare row" style="margin-top:2em;margin-bottom:2em;">
				<button class="button-1 button-block button-balanced" type="submit">Създай</button>
			</div>
		</form>
	</section>
	<aside class="two col-sm-2 col-lg-2">
		<div class="row">
			<img class="helpful" src="../images/single-dare/ben.png" alt="" />
			<h1 class="">Thomas Bangalter</h1>
			<span class="time">3 мин</span></br>
			<span class="preview">I was wondering...</span>
		</div>
		<div class="row">
			<img class="helpful" src="../images/single-dare/ben.png" alt="" />
			<h1 class="">Dog Woofson</h1>
			<span class="time">20 мин</span>
			<span class="preview">I've forgotten how it felt before</span>
		</div>
		<div class="row">
			<img class="helpful" src="../images/single-dare/ben.png" alt="" />
			<h1 class="">Louis CK</h1>
			<i class="time">59 мин</i>
			<span class="preview">But we’re probably gonna need a new carpet.</span>
		</div>
	</aside>
</div>
