<div class="StartNewDare"> 
<section class="one">
	<h1>Създай ново предизвикателство</h1>
	<form>
		<div class="row">
			<label class="item item-input">
				<input type="text" placeholder="Трите имена" value="">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Град" value="">
			</label>
		</div>
		<div class="row">
			<label class="item item-input">
				<input type="text" placeholder="Държава" value="">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="email" value="">
			</label>
		</div>
		<div class="row">
			<label style="width: 30%;">
				<input type="text" placeholder="телефон" value="">
			</label>
			
			<label style=" margin-left: -3em;">
				<span> Пол</span>
				<span>Жена</span>
				<input type="checkbox" name="gender" value="female" style="width: 10%;">
				<span>Мъж</span>
				<input type="checkbox" name="gender" value="male" style="width: 10%;">
				<span> Години</span>
				<input type="text" name="age" value="age" style="width: 30%;">
			</label>
		</div>
		<label class="vh item item-input">
			<input type="text" placeholder="Заглавие на Предизвикателство" value="Dare name here">
		</label>
		<label class="vh item item-input">
			<span class="pen"><i class="ion-edit"></i></span>
			<textarea placeholder="Текст описващ предизвикателството" rows="8" cols="10" value="Some Description here" style="margin: 0px; width: 580px; height: 159px;"></textarea>
		</label>
		<h3>Избери Категория</h3>
		<div class="challeng row">
			<input type="image" class="cal" src="../images/Categories/funBig.png" style="background-color:#029609;"/>
			<input type="image" class="cal" src="../images/Categories/BusinessBig.png" style="background-color:#e09740;"/>
			<input type="image" class="cal" src="../images/Categories/prizeBig.png" style="background-color:#be2524;"/>
			<input type="image" class="cal" src="../images/Categories/charityBig.png" style="background-color:#1d3694;"/>
		</div>
		<div class="row no-padding">
			<div class="col">
				<h3 class="contin">Продължителност</h3>
			</div>
			<div class="col">
				<div class="col">
					<div class="item">
					
					</div >
				</div>
				<div class="col">
					<div class="item">
					
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h3>Заплащане</h3>
			</div>
			<div class="col">
				<label class="item item-input">
					<span class="input-label">От:</span>
					<input type="number">
				</label>
			</div>
			<div class="col">
				<label class="item item-input">
					<span class="input-label">До:</span>
					<input type="number">
				</label>
			</div>
		</div>
					
		<div class="row"> 
			<div class="col ">
				<button type= "button" class="fileContainer" type="file">
					<i class="ion-ios-camera-outline"></i>
					<span class="badge badge-positive">
					
					</span>
				</button>
			</div>
		</div>
			<h3 style="margin-top:2em;text-transform: uppercase;">Сподели в социалните мрежи:</h3>
		<div class="row responsive">
			<div class="col">
				<button class="fa ion-social-facebook button button-block "></button>
			</div>
			<div class="col">
				<button class="fa ion-social-twitter button button-block"></button>
			</div>
			<div class="col">
				<button class="fa ion-social-googleplus button button-block"></button>
			</div>
		</div>
		<div class="row"> 
			<button class="button button-block button-balanced" type="submit" style="font-size:2em;text-transform: uppercase;background: #012438;color:#fff;">Създай</button>
		</div>
		</form>
	</section>
	<aside class="two"