
<div class="Timeline container-fluid">


<section class="slider-container">
				<nav class="CentralNav">
						<ul>
							<li><a href="#">НАЙ-НОВИ</a></li>
							<li><a href="#">НАЙ-ДОБРЕ ПЛАТЕНИ</a></li>
							<li><a href="#">НАЙ-КОМЕНТИРАНИ</a></li>
							<li><a href="#">НАЙ-СПОДЕЛЯНИ</a></li>
							<li><a href="#">НАЙ-РАЗГЛЕЖДАНИ</a></li>
							<li><a href="#">НАЙ-ХАРЕСВАНИ</a></li>
						</ul>		
				</nav>
				<div  class="demo">
				 	<img class="mySlides" src="https://placeimg.com/400/200/people"style="display: block;"/>
				 	<h2>Нахрани улична котка</h2>
				 	<img class="mySlides" src="https://placeimg.com/400/200/any"style="display: none;"/>
       				<img class="mySlides" src="https://placeimg.com/400/200/nature"style="display: none;"/>
                    <div class="user">
   						<div class="user-pic"><img class="img-circle" src="img/photo.jpg"/></div>
   						<div class="user-name">Милена Милчева</div>
						</div>
       					<div class="info">
       					<div class="timetime">
			       			<div class="timecheck">
			       				<img src="img/location-icon.png">
			       			</div>
			       			<div class="time">
			       				<p>София</p>
			       			</div>
			       			<div class="timeclock">
			       				<img src="img/time.png">
			       			</div>
			       			<div class="time">
			       				<p>Преди 4 часа и 30 минути</p>
			       			</div>
		       			</div>
		       			<div class="likeLike">
       					<div class="person">
						</div>
						<p>57</p>
						<div class="comment">
						</div>
						<p>34</p>	
						<div class="heart">
						</div>
						<p>234</p>
       				</div>
       				<div class="clock">
       					<H6>
       						<p>Оставащо време</p>
       						23:40Ч.
       					</H6>
       				</div>
     			</div>
     				<div class="arrow">
        				<a class=" fa fa-left" style="float: left" onclick="plusDivs(-1)">

       					</a>
       			 	<a class=" fa fa-right" style="float: right" onclick="plusDivs(+1)">

        			</a>
        		</div>
     		</div>
  	 			
        	<div  class="demo">
				<img class="mySlides" src="https://placeimg.com/400/200/people"style="display: block;"/>
				<h2>Нахрани улична котка</h2>
				<img class="mySlides" src="https://placeimg.com/400/200/any"style="display: none;"/>
       			<img class="mySlides" src="https://placeimg.com/400/200/nature"style="display: none;"/>
                 <div class="user">
   					<div class="user-pic"><img class="img-circle" src="img/photo.jpg"/></div>
   					<div class="user-name">Милена Милчева</div>
					</div>
       				<div class="info">
       					<div class="timetime">
			       			<div class="timecheck">
			       				<img src="img/location-icon.png">
			       			</div>
			       			<div class="time">
			       				<p>София</p>
			       			</div>
			       			<div class="timeclock">
			       				<img src="img/time.png">
			       			</div>
			       			<div class="time">
			       				<p>Преди 4 часа и 30 минути</p>
			       			</div>
		       			</div>
		       			<div class="likeLike">
       					<div class="person">
						</div>
						<p>57</p>
						<div class="comment">
						</div>
						<p>34</p>	
						<div class="heart">
						</div>
						<p>234</p>
       				</div>
       				<div class="clock">
       					<H6>
       						<p>Оставащо време</p>
       						23:40Ч.
       					</H6>
       				</div>
     			</div>
     			<div class="arrow">
        			<a class=" fa fa-left" style="float: left" onclick="plusDivs(-1)">

       				</a>
       			 	<a class=" fa fa-right" style="float: right" onclick="plusDivs(+1)">

        			</a>
        		</div>
     		</div>
     		<div  class="demo">
				 	<img class="mySlides" src="https://placeimg.com/400/200/people"style="display: block;"/>
				 	<h2>Нахрани улична котка</h2>
				 	<img class="mySlides" src="https://placeimg.com/400/200/any"style="display: none;"/>
       				<img class="mySlides" src="https://placeimg.com/400/200/nature"style="display: none;"/>
                    <div class="user">
   						<div class="user-pic"><img class="img-circle" src="img/photo.jpg"/></div>
   						<div class="user-name">Милена Милчева</div>
					</div>
       				<div class="info">
       					<div class="timetime">
			       			<div class="timecheck">
			       				<img src="img/location-icon.png">
			       			</div>
			       			<div class="time">
			       				<p>София</p>
			       			</div>
			       			<div class="timeclock">
			       				<img src="img/time.png">
			       			</div>
			       			<div class="time">
			       				<p>Преди 4 часа и 30 минути</p>
			       			</div>
		       			</div>
		       			<div class="likeLike">
       						<div class="person">
							</div>
								<p>57</p>
							<div class="comment">
							</div>
								<p>34</p>	
							<div class="heart">
							</div>
								<p>234</p>
       					</div>
       				<div class="clock">
       					<H6>
       						<p>Оставащо време</p>
       						23:40Ч.
       					</H6>
       				</div>
     			</div>
     				<div class="arrow">
        				<a class=" fa fa-left" style="float: left" onclick="plusDivs(-1)">

       					</a>
       			 	<a class=" fa fa-right" style="float: right" onclick="plusDivs(+1)">

        			</a>
        		</div>
     		</div>
  	 		</section>
		
		</div>